<style>
    .stats{}
    .stat label{width:33%;font-size:24px;}
    .stat input{width:50px;height:50px;font-size:24px;border:1px black solid;}
    .stat .modifier{display:inline-block;font-size:24px;}
    .stat input.link{width:250px;height:20px;font-size:14px;border:none;border-bottom:1px solid black;}
    .stat .description{color:#aaaaaa;}
    .stat .examples{font-size:11px;font-weight:bold;color:#666666;}

    .stat-name{
        font-size:24px;
        font-weight:bold;
    }
</style>
<div class="container-fluid">
    <!-- VITALS: Name, Look, Class -->
    <div class="row">
        <div class="col-md-5">
            <!-- Dudes -->
            <div class="">
                <select ng-model="vm.currentCharacter">                        
                    <option ng-repeat="character in vm.characters" value="{{character}}" ng-selected="character.id === vm.characterData.id">{{character.name}} -- {{character.class}}</option>
                </select>
                <div class="btn btn-sm btn-sprawl" ng-click="vm.loadCharacter(vm.currentCharacter);">Load Dude</div>
                <div class="btn btn-sm btn-sprawl" ng-confirm-click="You sure? All progress will be lost." confirmed-click="vm.clearDude();">Reset</div>
            </div>
            <!-- Name / Look -->
            <div class="name-look_container row">
                <div class="col-sm-12">
                    <label>Name: </label><input class="name" type="text" ng-model="vm.characterData.name" />
                    <label>Look: </label><input class="look" type="text" ng-model="vm.characterData.look" />
                    <a id="popover-content-directives" style="display:inline-block;" tabindex="0" class="btn btn-sm btn-info" role="button" data-toggle="popover"  
                    title="Name & Look Suggestions:" data-html="true" data-content="{{vm.nameLookHTML}}"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>                    
                    <select ng-model="vm.class" ng-change="vm.selectClass(vm.class)">
                        <option ng-repeat="class in vm.static.classes_list" value="{{class.key}}">{{class.name}}</option>
                    </select>                                           
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-lg btn-primary" ng-click="vm.saveCharacter();">{{vm.create}}</div>
            <a class="btn btn-lg btn-danger" ng-confirm-click="You sure?" confirmed-click="vm.deleteDude();">Delete</a>
        </div>
    </div>    
    <div class="row">
        <!-- STATS / RACE / ALIGNMENT-->
        <div class="col-md-3">
            <div>
                
            </div>
            <!-- Stats -->
            <div class="row stats">
                <div class="col-md-12">
                    <div class="row stat">
                        <div class="col-sm-6">
                            <label>STR</label>
                            <input type="number" ng-model="vm.characterData.str" />
                            <span class="modifier">{{vm.attributes[vm.characterData.str]}}</span>
                        </div>                  
                        <div class="col-sm-6">
                            <label>INT</label>
                            <input type="number" ng-model="vm.characterData.int" />
                            <span class="modifier">{{vm.attributes[vm.characterData.int]}}</span>
                        </div>                    
                    </div>
                    <div class="row stat">
                        <div class="col-sm-6">
                            <label>DEX</label>
                            <input type="number" ng-model="vm.characterData.dex" />
                            <span class="modifier">{{vm.attributes[vm.characterData.dex]}}</span>
                        </div>                  
                        <div class="col-sm-6">
                            <label>WIS</label>
                            <input type="number" ng-model="vm.characterData.wis" />
                            <span class="modifier">{{vm.attributes[vm.characterData.wis]}}</span>
                        </div>                    
                    </div>
                    <div class="row stat">
                        <div class="col-sm-6">
                            <label>CON</label>
                            <input type="number" ng-model="vm.characterData.con" />
                            <span class="modifier">{{vm.attributes[vm.characterData.con]}}</span>
                        </div>                  
                        <div class="col-sm-6">
                            <label>CHA</label>
                            <input type="number" ng-model="vm.characterData.cha" />
                            <span class="modifier">{{vm.attributes[vm.characterData.cha]}}</span>
                        </div>                    
                    </div>
                    <div class="row stat">
                        <div class="col-sm-6">
                            <label>HP</label>
                            <input type="number" ng-model="vm.characterData.hp" />
                            <span class="modifier">({{vm.characterData.maxhp}})</span>
                        </div>
                        <div class="col-sm-6">
                            <label>Armor</label>
                            <input type="number" ng-model="vm.characterData.armor" />                        
                        </div>
                    </div>
                    <div class="row stat">
                        <div class="col-sm-6">
                            <label>XP</label>
                            <input type="number" ng-model="vm.characterData.xp" />
                            <span class="modifier">({{vm.characterData.nextLevel}})</span>
                        </div>
                        <div class="col-sm-6">
                            <label>Level</label>
                            <input type="number" ng-model="vm.characterData.level" />                        
                        </div>
                    </div>
                </div>            
            </div>
            <!-- Race -->
            <div class="row race">
                <div ng-repeat="race in vm.static.classes[vm.class].race_moves">
                    <span class="strong">{{race.name}}:</span> <span data-ng-bind-html="race.description"></span>
                </div>
            </div>
            <!-- Alignment -->
            <div class="row alignment">
                <div ng-repeat="alignment in vm.static.classes[vm.class].alignments_list">
                    <span class="strong">{{alignment.name}}:</span> <span data-ng-bind-html="alignment.description"></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Moves -->
            <div class="row">
                <div class="col-md-12">
                    <strong>Starting Moves</strong>
                    <div class="row" ng-repeat="starting_move in vm.static.classes[vm.class].starting_moves">
                        <span class="strong">{{starting_move.name}}:</span> <span data-ng-bind-html="starting_move.description"></span>
                    </div>
                    <strong>Advanced Moves</strong>
                    <div class="row" ng-repeat="advanced1_move in vm.static.classes[vm.class].advanced_moves_1">
                        <input
                        id="advanced1_move_{{advanced1_move.key}}"                             
                        type="checkbox" 
                        value="{{advanced1_move.key}}" 
                        ng-checked="vm.characterData.moves.indexOf(advanced1_move.key) > -1"                            
                        ng-click="vm.updateMoves(advanced1_move.key)" />
                        <strong>{{advanced1_move.name}}</strong> <span data-ng-bind-html="advanced1_move.description"></span>
                    </div>
                    <strong>Expert Moves (lev 6+)</strong>
                    <div class="row" ng-repeat="advanced2_move in vm.static.classes[vm.class].advanced_moves_2">
                        <span class="strong">{{advanced2_move.name}}</span> <span data-ng-bind-html="advanced2_move.description"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- Gear -->
            <div class="row">
                <div class="col-md-12">                
                    {{vm.static.classes[vm.class].starting_gear}}                
                </div>
            </div>
            <div class="row">
                <div ng-repeat="choice in vm.static.classes[vm.class].gear_choices">
                    {{choice.label}}
                    <div ng-repeat="item in choice.list">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>