
    <style>
		body{padding:5px;}
        h1,h2,h3,h4,h5,p,div,ul,li{margin:0;padding:0;}
        ul{margin-left:16px;}
        h1{font-size:20px;}
        h2{font-size:18px;border-top:1px solid #222;}
        h3{font-size:14px;}
        h4{font-size:12px;}
		.move-trigger{
			font-weight:bold;
		}
		h2.move{
			font-size:16px;			
		}
		.move:hover{
			cursor: pointer;
		}
    </style>
	
	<div class="fluid-container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-10">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3" style="display:none;">
				<div>
					<h3>Front:</h3>
					<form novalidate class="simple-form">
						<label>Type: <input type="text" ng-model="front.type" /></label><br />
						<label>Cast: <input type="text" ng-model="front.cast" /></label><br />
						<label>Stakes: <input type="text" ng-model="front.stakes" /></label><br />
						<label>Danger Type: <input type="text" ng-model="front.dangertype" /></label><br />
						<fieldset data-ng-repeat="gp in grimPortents">
							<label>GP: <input type="text" ng-model="gp.name" name="" /></label> <span ng-show="$last" ng-click="addGrimPortent()">+ Add</span> <br />
						</fieldset>
						{{ grimPortents }}
						<label>IP:<input type="text" ng-model="front.impendingdoom" /></label><br />
						<input type="submit" ng-click="updateFront(front)" value="Save Front" />
					</form>
				</div>
				<div>
					<h3>Monster:</h3>
					<form novalidate class="simple-form">
						<label>Name: <input type="text" ng-model="monster.name" /></label><br />
						<label>Category: <input type="text" ng-model="monster.category" /></label><br />
						<label>Attack: <input type="text" ng-model="monster.attack" /></label><br />
						<label>HP: <input type="text" ng-model="monster.hp" /></label><br />
						<label>Armor: <input type="text" ng-model="monster.armor" /></label><br />
						<label>Weapon Tags:<input type="text" ng-model="monster.weapontags" /></label><br />
						<label>Special Quality:<input type="text" ng-model="monster.specialquality" /></label><br />
						<label>Monster Tags:<input type="text" ng-model="monster.monstertags" /></label><br />
						<label>Description:<input type="text" ng-model="monster.description" /></label><br />
						<label>Moves:<input type="text" ng-model="monster.moves" /></label><br />
						<label>Instinct:<input type="text" ng-model="monster.instinct" /></label><br />
						<input type="submit" ng-click="updateMonster(monster)" value="Save Monster" />
					</form>
				</div>
				<div>
					<h3>Move:</h3>
					<form novalidate class="simple-form">
						<label>Type: <input type="text" ng-model="move.type" /></label><br />
						<label>Name: <input type="text" ng-model="move.name" /></label><br />
						<label>Description: <input type="text" ng-model="move.description" /></label><br />
						<label>Trigger: <input type="text" ng-model="move.trigger" /></label><br />
						<input type="submit" ng-click="updateMove(move)" value="Save Move" />
					</form>
				</div>
				<div>
					<h3>Tag:</h3>
					<form novalidate class="simple-form">
						<label>Name: <input type="text" ng-model="tag.name" /></label><br />
						<label>Description: <input type="text" ng-model="tag.description" /></label><br />
						<label>Category: <input type="text" ng-model="tag.category" /></label><br />
						<input type="submit" ng-click="updateTag(tag)" value="Save Tag" />
					</form>
				</div>
			</div>
			<div class="col-lg-3">
			</div>
			<div class="col-lg-3">
				<h2>Name Generator</h2>
				<button ng-click="getName('M');">Male</button>
				<button ng-click="getName('F');">Female</button>
				<span style="font-size:18px;">{{ firstName }} {{ surName }}</span>
				<!-- Customs -->
				<h2 style="color:blue;">Custom Monsters</h2>
				<div ng-repeat="monster in allMonsters" ng-show="monster.createdby == '1'" style="display:none;">
					<div>
						<h2 class="move" ng-click="monster.hide = !monster.hide">{{monster.name}}</h2>
						<div class="move-description" ng-hide="monster.hide">
							<span>HP: {{monster.hp}}</span> <span>Armor: {{monster.armor}}</span><br />
							<span>Attack: {{monster.attack}}</span> <span>{{monster.weapontags}}</span><br /> 
							<span>Special Quality: {{monster.specialquality}}</span><br />
							<p>{{monster.description}}</p>
							<span>{{monster.instinct}}</span>
							<div>{{monster.monstertags}}</div>
							<div>{{monster.moves}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<h2 style="color:blue;">Basic Moves</h2>
				<div ng-repeat="basicMove in allMoves" ng-show="basicMove.type == 'Basic'">
					<div>
						<h2 class="move" ng-click="basicMove.hide = !basicMove.hide">{{basicMove.name}}</h2>
						<div class="move-description" ng-hide="basicMove.hide">
							<span ng-hide="basicMove.type == 'GM' || gmMove == 'Dungeon'">
							When you <span class="move-trigger">{{basicMove.trigger}}</span>
							</span>
							<span ng-bind-html="basicMove.description"></span>
						</div>
					</div>
				</div>
				<h2 style="color:blue;">Special Moves</h2>
				<div ng-repeat="specialMove in allMoves" ng-show="specialMove.type == 'Special'">
					<div>
						<h2 class="move" ng-click="specialMove.hide = !specialMove.hide">{{specialMove.name}}</h2>
						<div class="move-description" ng-hide="specialMove.hide">
							<span ng-hide="specialMove.type == 'GM' || gmMove == 'Dungeon'">
							When you <span class="move-trigger">{{specialMove.trigger}}</span>
							</span>
							<span ng-bind-html="specialMove.description"></span>
						</div>
					</div>
				</div>
				<h2 style="color:blue;">GM Moves</h2>
				<div ng-repeat="gmMove in allMoves" ng-show="gmMove.type == 'GM'">
					<div>
						<h2 class="move" ng-click="gmMove.hide = !gmMove.hide">{{gmMove.name}}</h2>
						<div class="move-description" ng-hide="gmMove.hide">
							<span ng-hide="gmMove.type == 'GM' || gmMove == 'Dungeon'">
							When you <span class="move-trigger">{{gmMove.trigger}}</span>
							</span>
							<span ng-bind-html="gmMove.description"></span>
						</div>
					</div>
				</div>
				<h2 style="color:blue;">Dungeon Moves</h2>
				<div ng-repeat="dungeonMove in allMoves" ng-show="dungeonMove.type == 'Dungeon'">
					<div>
						<h2 class="move" ng-click="dungeonMove.hide = !dungeonMove.hide">{{dungeonMove.name}}</h2>
						<div class="move-description" ng-hide="dungeonMove.hide">
							<span ng-hide="gmMove.type == 'GM' || gmMove == 'Dungeon'">
							When you <span class="move-trigger">{{dungeonMove.trigger}}</span>
							</span>
							<span ng-bind-html="dungeonMove.description"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div ng-repeat="tag in allTags">
					<div>
						<h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
						<div class="move-description" ng-hide="tag.hide">
							<span>
								{{tag.category}}
							</span>
							<span>
								{{tag.description}}
							</span>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>  

