<style>
	.loginForm{width:300px;margin:auto;}
</style>
<div class="loginForm">
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<form name="form" ng-submit="vm.register(user)" role="form">
	    <div class="form-group">
	        <label for="FirstName">First Name</label>
	        <i class="fa fa-key"></i>
	        <input type="text" name="FirstName" id="FirstName" class="form-control" ng-model="user.FirstName" required />
	        <span ng-show="form.FirstName.$dirty && form.FirstName.$error.required" class="help-block">First Name is required</span>
	    </div>
	    <div class="form-group">
	        <label for="LastName">Last Name</label>
	        <i class="fa fa-lock"></i>
	        <input type="LastName" name="LastName" id="LastName" class="form-control" ng-model="user.LastName" required />
	        <span ng-show="form.LastName.$dirty && form.LastName.$error.required" class="help-block">Last Name is required</span>
	    </div>
	    <div class="form-group">
	        <label for="EmailAddress">Email Address</label>
	        <i class="fa fa-key"></i>
	        <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" ng-model="user.EmailAddress" required />
	        <span ng-show="form.EmailAddress.$dirty && form.EmailAddress.$error.required" class="help-block">Email Address is required</span>
	    </div>
	    <div class="form-group">
	        <label for="username">Username</label>
	        <i class="fa fa-key"></i>
	        <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
	        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
	    </div>
	    <div class="form-group">
	        <label for="password">Password</label>
	        <i class="fa fa-lock"></i>
	        <input type="password" name="password" id="password" class="form-control" ng-model="user.Password" required />
	        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
	    </div>
	    <div class="form-actions">
	        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Register</button>
	        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
	    </div>
	</form>
</div>