<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Sprawl Character Sheet Template</title>
    <link rel="stylesheet" href="inc/bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css" />
    <script type="application/javascript" src="inc/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <style>
        body{padding:0 5px;}
        h2{font-size:16px;margin:0;border-bottom:1px solid #0472CE;cursor:pointer;}

        h4{
            font-size: 20px;
            border-bottom: 2px #0472CE solid;
            text-align: right;
            font-weight: bold;
            color: #0472CE;
        }
    .harm_marker{
        float:left;
        height:25px;
        margin-left:5px;
        text-align: right;
        border:1px solid black;
        border-radius: 5px;
        transform: skew(-20deg);
        cursor: pointer;

    }
    .harm_marker.lrg{
        width:80px;
    }
    .harm_marker.sm{
        width:45px;
    }
    .harm_container .active{
        background-color:indianred;
    }
    .attributes_container{

    }
    .attributes_container input{
        position: absolute;
        top: 15px;
        left: 26px;
        width: 48px;
        height: 49px;
        font-size: 32px;
        border: none;
        z-index: 7; 
    }
    .meat_input{
               
    }
    .hexagons_container{
        
    }
    .hexagon {
        position: relative;
        width: 70px; 
        height: 40.41px;
        margin: 20.21px 0;
        border-left: solid 2px #333333;
        border-right: solid 2px #333333;
        transform:rotate(90deg);
        z-index:5;
    }

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        z-index: 5;
        width: 49.50px;
        height: 49.50px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: white;
        left: 8.2513px;
    }

    .hexagon:before {
        top: -24.7487px;
        border-top: solid 2.8284px #333333;
        border-right: solid 2.8284px #333333;
    }

    .hexagon:after {
        bottom: -24.7487px;
        border-bottom: solid 2.8284px #333333;
        border-left: solid 2.8284px #333333;
    }
    .hexagon.cred{border-left:dotted 2px #777;border-right:dotted 2px #777;}
    .hexagon.cred:before{border-top:dotted 2.8284px #777;border-right:dotted 2.8284px #777;}
    .hexagon.cred:after{border-bottom:dotted 2.8284px #777;border-left:dotted 2.8284px #777;}
    .attributes_right{
        text-align:right;
    }
    .attribute_container{
        height:69px;
        margin-top:2px;
    }
    .attribute_name{        
        font-size:16px;
        font-weight:bold;
    }
    .attribute_line{
        width:196px;
        height:1px;
        background-color:black;
    }
    .attribute_line_right{        
        height:1px;
        background-color:black;
        margin-left:-129px;
        width:231px;
        z-index:0;
    }
    .attribute_description{
        font-size:11px;
    }
    .attribute_example{
        font-size:9px;
    }
    .stat{}
    .stat label{width:100px;font-size:24px;}
    .stat input{width:50px;height:50px;font-size:24px;border:3px double #0472CE;}
    .stat input.link{width:250px;height:20px;font-size:14px;border:none;border-bottom:1px solid black;}
    .stat .description{color:#aaaaaa;}
    .stat .examples{font-size:11px;font-weight:bold;color:#666666;}
    
    .stat-name{
        font-size:24px;
        font-weight:bold;
    }
    .directives_container textarea{
        float:left;
        width:98%;
        height:95px;
        padding:0px;
    }
    /* Bootstrap override */
    .popover{
        max-width: 400px;
    }
    .reference_section{
        margin-bottom:5px;
        padding-bottom:5px;
        border-bottom:3px solid #0472CE;
    }
    .btn-sprawl{
        background-color:#0472CE;
        color:#fff;
    }
    .menu-toggle{
        margin-top:14px;
        text-decoration: none;
        cursor: pointer;
    }
    a:hover, a:focus{
        text-decoration: none;
    }
    </style>
</head>
<body>
    <div class="container-fluid">
        <!-- Reference -->
        <div class="reference_section row">
            <div class="col-md-4">
                <div class="moves_container row">
                    <div class="col-md-12">
                        <h4>BASIC MOVES</h4>
                        <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'Basic'">
                            <div>
                                <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                                <div class="move-description" ng-hide="move.hide">                                    
                                    <span class="move-trigger"><strong>{{move.trigger}}</strong></span>
                                    <span ng-bind-html="move.description"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moves_container row">
                    <div class="col-md-12">
                        <h4>MATRIX MOVES</h4>
                        <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'matrix'">
                            <div>
                                <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                                <div class="move-description" ng-hide="move.hide">                                    
                                    <span class="move-trigger"><strong>{{move.trigger}}</strong></span>
                                    <span ng-bind-html="move.description"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moves_container row">
                    <div class="col-md-12">
                        <h4>GM MOVES</h4>
                        <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'GM'">
                            <div>
                                <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                                <div class="move-description" ng-hide="move.hide">                                    
                                    <span class="move-trigger"><strong>{{move.trigger}}</strong></span>
                                    <span ng-bind-html="move.description"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>TAGS</h4>
                <div ng-repeat="tag in vm.allTags">
                    <div>
                        <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                        <div class="move-description" ng-hide="tag.hide">
                            <span>
                                [{{tag.category}}]
                            </span>
                            <span>
                                {{tag.description}}
                            </span>							
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-md-4">                
                <div class="btn btn-sm btn-info pull-left" ng-click="vm.showClockEdit = !vm.showClockEdit;">Create Clock</div>
                <h4>COUNT THESE CLOCKS... BYOTCH</h4>                
                <form novalidate class="simple-form" ng-show="vm.showClockEdit">
                    <label>Name: <input type="text" ng-model="clock.name" /></label><br />
                    <label>Description: <input type="text" ng-model="clock.type" /></label><br />                                                
                    <input type="submit" ng-click="vm.createClock(clock)" value="Save Clock" />
                </form>
                <div ng-repeat="clock in vm.clocks">
                    <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)"></clock>                                    
                </div>
                
            </div>
        </div>
        <!-- Character Sheet -->
        <div class="character_header row">
            <div class="col-md-5">
                <div class="">
                    <select ng-model="dude">                        
                        <option ng-repeat="dude in vm.dudes" value="{{dude}}" ng-selected="dude.id === vm.characterData.id">{{dude.name}} -- {{dude.class}}</option>
                    </select>
                    <div class="btn btn-sm btn-sprawl" ng-click="vm.loadDude(dude);">Load Dude</div>
                </div>
                <!-- Name / Look -->
                <div class="name-look_container row">
                    <div class="col-sm-12">
                        <label>Name: </label><input class="name" type="text" ng-model="vm.characterData.name" />
                        <label>Look: </label><input class="look" type="text" ng-model="vm.characterData.look" />
                        <a id="popover-content-directives" style="display:inline-block;" tabindex="0" class="btn btn-sm btn-info" role="button" data-toggle="popover"  
                        title="Name & Look Suggestions:" data-html="true" data-content="{{vm.nameLookHTML}}"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>                    
                        <select ng-model="vm.class" ng-change="vm.getClassMoves(vm.class)">
                            <option ng-repeat="class in vm.classes" value="{{class.name}}" ng-selected="{{class.name == vm.class}}">{{class.name}}</option>
                        </select>                                              
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn btn-lg btn-primary" ng-click="vm.saveCharacter();">{{vm.create}}</div>
            </div>
            <div class="col-md-2">
                <div class="stat">
                    <label>XP:</label>
                    <input type="number" ng-model="vm.characterData.xp" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat">
                    <label>CRED:</label>
                    <input type="number" ng-model="vm.characterData.cred" />
                </div>
            </div>
        </div>
        <div class="character_sheet row">
            <!-- Column 1-->
            <div class="col-md-4">                
                <!-- Harm -->
                <div class="harm_container row">
                    <div class="col-sm-12">
                        <h4>HARM</h4>
                        <div class="harm_marker lrg" ng-class="vm.harm[0]" ng-click="vm.markHarm(0)">1500</div>
                        <div class="harm_marker lrg" ng-class="vm.harm[1]" ng-click="vm.markHarm(1)">1800</div>
                        <div class="harm_marker lrg" ng-class="vm.harm[2]" ng-click="vm.markHarm(2)">2100</div>
                        <div class="harm_marker sm" ng-class="vm.harm[3]" ng-click="vm.markHarm(3)">2200</div>
                        <div class="harm_marker sm" ng-class="vm.harm[4]" ng-click="vm.markHarm(4)">2300</div>
                        <div class="harm_marker sm" ng-class="vm.harm[5]" ng-click="vm.markHarm(5)">0000</div>
                        <a href ng-click="vm.clearHarm()" style="margin-left:3px;">Clear</a>
                    </div>
                </div>
                <!-- Complicated Non-reponsive HEX format -->
                <div class="attributes_container row hide">
                    <div class="col-sm-3">
                        <div class="attributes_left">
                            <div class="attribute_container">
                                <div class="attribute_name">::MEAT</div>
                                <div class="attribute_line"></div>
                                <div class="attribute_description">Physical Stuff</div>
                                <div class="attribute_example">MOVE, MOVE, MOVE</div>
                            </div>
                            <div class="attribute_container">
                                <div class="attribute_name">::MIND</div>
                                <div class="attribute_line"></div>
                                <div class="attribute_description">Brain Stuff</div>
                                <div class="attribute_example">MOVE, MOVE, MOVE</div>
                            </div>
                            <div class="attribute_container">
                                <div class="attribute_name">::SYNTH</div>
                                <div class="attribute_line"></div>
                                <div class="attribute_description">Computer Stuff</div>
                                <div class="attribute_example">MOVE, MOVE, MOVE</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="hexagons_container">
                            <!-- MEAT -->
                            <div class="hexagon"></div>
                            <input class="input_meat" type="number" />
                            <!-- EDGE -->
                            <div class="hexagon" style="top:-61px;left:126px;"></div>
                            <input class="input_edge" type="number" style="left:152px;" />
                            <!-- COOL -->
                            <div class="hexagon" style="top: -85px;left: 63px;"></div>
                            <input class="input_cool" type="number" style="top:52px;left:89px;" />
                            <!-- MIND -->
                            <div class="hexagon" style="top:-110px;"></div>
                            <input type="number" style="top:87px;" />
                            <!-- SYNTH -->
                            <div class="hexagon" style="top:-135px;left:63px;" ></div>                            
                            <input type="number" style="top:122px;left:89px" />
                            <!-- STYLE -->
                            <div class="hexagon" style="top:-159px;left:126px;"></div>                            
                            <input type="number" style="top:158px;left:152px;" />
                            <!-- CRED -->
                            <div class="hexagon cred" style="top: -184px;left: 189px;"></div>
                            <input type="number" style="top: 193px;left: 215px;"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="attributes_right">
                            <div class="attribute_container">
                                <div class="attribute_name">::EDGE</div>
                                <div class="attribute_line_right"></div>
                                <div class="attribute_description">Physical Stuff</div>
                                <div class="attribute_example">MOVE, MOVE, MOVE</div>
                            </div>
                            <div class="attribute_container">
                                <div class="attribute_name">::COOL</div>
                                <div class="attribute_line_right"></div>
                                <div class="attribute_description">Brain Stuff</div>
                                <div class="attribute_example">MOVE, MOVE, MOVE</div>
                            </div>
                            <div class="attribute_container">
                                <div class="attribute_name">::STYLE</div>
                                <div class="attribute_line_right"></div>
                                <div class="attribute_description">Computer Stuff</div>
                                <div class="attribute_example">MOVE, MOVE, MOVE</div>
                            </div>
                            <div class="attribute_container">
                                    <div class="attribute_name">::CRED</div>
                                    <div class="attribute_line_right"></div>
                                    <div class="attribute_description">C.R.E.A.M.</div>
                                    <div class="attribute_example">MOVE, MOVE, MOVE</div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- Attributes Functional-->
                <div class="row">
                    <div class="col-md-12">
                        <h4>STATS</h4>
                        <div class="row stat">
                            <div class="col-sm-5">
                                <label>::MEAT</label>
                                <input type="number" ng-model="vm.characterData.meat" />
                            </div>
                            <div class="col-sm-7">                        
                                <div class="description">physical non-cyberware stuff</div>
                                <div class="examples">MIX IT UP · AQUIRE AGRICULTURAL PROPERTY</div>
                            </div>
                        </div>
                        <div class="row stat">
                            <div class="col-sm-5">
                                <label>::EDGE</label>
                                <input type="number" ng-model="vm.characterData.edge" />                        
                            </div>
                            <div class="col-sm-7">                        
                                <div class="description">street smarts, general badassness</div>
                                <div class="examples">ASSESS · PLAY HARDBALL GET THE JOB · HACKING: MELT ICE</div>
                            </div>
                        </div>
                        <div class="row stat">
                            <div class="col-sm-5">
                                <label>::COOL</label>
                                <input type="number" ng-model="vm.characterData.cool" />                        
                            </div>
                            <div class="col-sm-7">                        
                                <div class="description">don't let em see you sweat</div>
                                <div class="examples">ACT UNDER PRESSURE · APPLY FIRST AID · HACKING: JACK OUT</div>
                            </div>
                        </div>
                        <div class="row stat">
                            <div class="col-sm-5">
                                <label>::MIND</label>
                                <input type="number" ng-model="vm.characterData.mind" />                        
                            </div>
                            <div class="col-sm-7">                        
                                <div class="description">look at the brain on brad</div>
                                <div class="examples">RESEARCH · HACKING: COMPROMISE SECURITY</div>
                            </div>
                        </div>
                        <div class="row stat">
                            <div class="col-sm-5">                            
                                <label>::SYNTH</label>                            
                                <input type="number" ng-model="vm.characterData.synth" />   
                            </div>                     
                            <div class="col-sm-7">                        
                                <div class="description">interface with tech</div>
                                <div class="examples">HACKING: LOGIN · HACKING: MANIPULATE SYSTEMS</div>
                            </div>
                        </div>                        
                        <div class="row stat">
                            <div class="col-sm-5">
                                <label>::STYLE</label>                            
                                <input type="number" ng-model="vm.characterData.style" />   
                            </div>                     
                            <div class="col-sm-7">                        
                                <div class="description">chrisma uniqueness nerve talent</div>
                                <div class="examples">FAST TALK · HIT THE STREET</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Directives -->
                <div class="directives_container row">
                    <div class="col-md-12">
                        <a id="popover-content-directives" style="display:inline-block;" tabindex="0" class="btn btn-sm btn-info pull-left" 
                        role="button" data-toggle="popover" data-placement="top" 
                        title="Choose 2:" data-html="true" 
                        data-content="{{vm.directives}}"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <h4>DIRECTIVES</h4>
                        <textarea type="textbox" class="directives" ng-model="vm.characterData.directives"></textarea>                                                   
                    </div>
                </div>
                <!-- Links -->
                <div class="links_container row">
                    <div class="col-md-12">
                    <a href class="glyphicon glyphicon-plus pull-left menu-toggle" ng-click="vm.addLink();"></a>
                        <h4>LINKS</h4>
                        <div ng-repeat="link in vm.characterData.links">
                            <div class="stat">                            
                                <input type="number" ng-model="link.value" />
                                <div style="display:inline-block;">                        
                                    <input class="link" type="text" ng-model="link.name" />
                                    <a href ng-click="vm.removeLink($index);" class="glyphicon glyphicon-remove"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
                <!-- Contacts -->
                <div class="contacts_container row">
                    <div class="col-md-12">
                        <h4>CONTACTS</h4>
                        <textarea style="height:100px;width:98%" ng-model="vm.characterData.contacts"></textarea>
                    </div>
                </div>
                <div class="class_container row">
                    <div class="col-md-12">                        
                        <div ng-bind-html="vm.classData[vm.class].classSpecific"></div>
                    </div>
                </div>
            </div>
            <!-- Column 2-->
            <div class="col-md-4">
                <!-- Moves -->
                <div class="moves_container row">
                    <div class="col-md-12">
                        <h4>MOVES</h4>
                        <div ng-repeat="move in vm.classMoves">
                            <div>
                                <input
                                id="move_{{move.id}}"                             
                                type="checkbox" 
                                value="{{move.id}}" 
                                ng-checked="vm.characterData.moves.indexOf(move.id) > -1"                            
                                ng-click="vm.updateMoves(move.id)" />
                                <strong>{{move.name}}:</strong>
                                <span data-ng-bind-html="move.description"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Advancement -->
                <div class="advancement_container row">
                    <div class="col-md-12">
                        <h4>ADVANCEMENT</h4>
                        <div ng-repeat="adv in vm.defaultAdvancements" ng-show="adv.type === 'basic'">
                            <input
                            id="adv_{{adv.id}}"                             
                            type="checkbox" 
                            value="{{adv.id}}" 
                            ng-checked="vm.characterData.advancements.indexOf(adv.id) > -1"                            
                            ng-click="vm.updateAdvancements(adv.id)" />
                            <span>{{adv.description}}</span>
                        </div>
                        <div class="text-info" style="font-weight:bold;">/* after 5 advancements */</div>
                        <div ng-repeat="adv in vm.defaultAdvancements" ng-show="adv.type === 'advanced'">
                            <input
                            id="adv_{{adv.id}}"                             
                            type="checkbox" 
                            value="{{adv.id}}" 
                            ng-checked="vm.characterData.advancements.indexOf(adv.id) > -1"                            
                            ng-click="vm.updateAdvancements(adv.id)" />
                            <span>{{adv.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column 3-->
            <div class="col-md-4">
                <!-- Cyberware -->
                <div class="cyberware_container row">
                    <div class="col-md-12">
                        <a href ng-click="vm.showCyberware();" class="menu-toggle pull-left glyphicon" ng-class="vm.showAllCyberware ? 'glyphicon-menu-down' : 'glyphicon-menu-up'";></a>
                        <h4>CYBERWARE</h4>
                        <div ng-repeat="cyberware in vm.allCyberware" ng-hide="vm.classData[vm.class].cyberware.indexOf(cyberware.id) === -1">
                            <input
                            id="cyberware_{{cyberware.id}}"                             
                            type="checkbox" 
                            value="{{cyberware.id}}" 
                            ng-checked="vm.characterData.cyberware.indexOf(cyberware.id) > -1"                            
                            ng-click="vm.updateCyberware(cyberware.id)" />
                            <strong>{{cyberware.name}}</strong>
                            <span ng-bind-html="cyberware.description"></span>
                        </div>
                    </div>
                </div>
                <!-- Gear -->
                <div class="gear_container row">
                    <div class="col-md-12">
                        <a id="popover-content-directives" style="display:inline-block;" tabindex="0" class="btn btn-sm btn-info pull-left" 
                        role="button" data-toggle="popover"  data-placement="left"
                        title="Gear:" data-html="true" data-content="{{vm.classData[vm.class].gear}}"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>                           
                        <h4>GEAR</h4>                        
                        <textarea type="textbox" class="gear" style="width:99%;height:300px;" ng-model="vm.characterData.gear"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popover-content-directives" class="hide">Tacos.</div>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').each(function(){
                $(this).popover({
                    html:true,
                    content: function() {
                        var id = $(this).attr('id')
                        return $('#popover-content-' + id).html();
                    }
                });
            });
        });
    </script>
</body>
</html>