<div class="container-fluid">
    <!-- Reference -->
    <div class="reference_section row">
        <div class="col-md-4">
            <div class="moves_container row">
                <div class="col-md-12">
                    <h4>BASIC MOVES</h4>
                    <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'Basic'">
                        <div>
                            <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                            <div class="move-description" ng-hide="move.hide">                                    
                                <span class="move-trigger"><strong>{{move.trigger}}</strong></span>
                                <span ng-bind-html="move.description"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moves_container row">
                <div class="col-md-12">
                    <h4>MATRIX MOVES</h4>
                    <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'matrix'">
                        <div>
                            <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                            <div class="move-description" ng-hide="move.hide">                                    
                                <span class="move-trigger"><strong>{{move.trigger}}</strong></span>
                                <span ng-bind-html="move.description"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moves_container row">
                <div class="col-md-12">
                    <h4>GM MOVES</h4>
                    <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'GM'">
                        <div>
                            <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                            <div class="move-description" ng-hide="move.hide">                                    
                                <span class="move-trigger"><strong>{{move.trigger}}</strong></span>
                                <span ng-bind-html="move.description"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>TAGS</h4>
            <div ng-repeat="tag in vm.allTags">
                <div>
                    <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                    <div class="move-description" ng-hide="tag.hide">
                        <span>
                            [{{tag.category}}]
                        </span>
                        <span>
                            {{tag.description}}
                        </span>							
                    </div>
                </div>
            </div>                
        </div>
        <div class="col-md-4">                
            <div class="btn btn-sm btn-info pull-left" ng-click="vm.showClockEdit = !vm.showClockEdit;" ng-if="vm.isMC">Create Clock</div>
            <h4>CLOCKS</h4>                
            <form novalidate class="simple-form" ng-show="vm.showClockEdit">
                <label>Name: <input type="text" ng-model="clock.name" /></label><br />
                <label>Description: <input type="text" ng-model="clock.type" /></label><br />                                                
                <input type="submit" ng-click="vm.createClock(clock)" value="Save Clock" />
            </form>
            <div ng-repeat="clock in vm.clocks" ng-if="clock.type === 'mission'">
                <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"</clock>                                    
            </div>                
        </div>
    </div>        
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').each(function(){
            $(this).popover({
                html:true,
                content: function() {
                    var id = $(this).attr('id')
                    return $('#popover-content-' + id).html();
                }
            });
        });
    });
</script>

