<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1">
            <div class="btn btn-sm btn-info pull-left" ng-click="vm.showClockEdit = !vm.showClockEdit;" ng-if="vm.isMC">Create</div>
        </div>
        <div class="col-xs-5">
            <form novalidate class="row simple-form" ng-show="vm.showClockEdit">
                <!-- <div class="col-xs-3">
                    <strong>Name:</strong><br />
                    <strong>Type:</strong><br />
                    <strong>Description:</strong><br />
                    <strong>Goal:</strong>
                </div>
                <div class="col-xs-9">
                    <input type="text" ng-model="clock.name" /><br />
                    <input type="text" ng-model="clock.type" /><br />
                    <textarea type="text" ng-model="clock.description"></textarea><br />
                    <textarea type="text" ng-model="clock.goal"></textarea><br />
                    <input type="submit" ng-click="vm.createClock(clock)" value="Save Threat" />
                </div> -->
                <label>Name: <input type="text" ng-model="clock.name" /></label><br />
                <label>Type: <input type="text" ng-model="clock.type" /></label><br />
                <label>Description: <textarea type="text" ng-model="clock.description"></textarea></label><br />
                <label>Goal: <textarea type="text" ng-model="clock.goal"></textarea></label><br />
                <input type="submit" ng-click="vm.createClock(clock)" value="Save Threat" />
            </form>
        </div>
        <div class="col-xs-6">
            <!-- fill empty space -->
        </div>
    </div>
    <div class="row">
        <h3>MISSION</h3>
        <div class="col-lg-12">
            <div style="margin:auto;">
                <div ng-repeat="clock in vm.clocks" ng-if="clock.type === 'mission'" class="pull-left" style="width:33%;">
                    <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>
                </div>
            </div>
        </div>        
    </div>
    <div class="row">
        <h3>CORPORATIONS</h4>
        <div class="col-lg-12">
            <div ng-repeat="clock in vm.clocks" ng-if="clock.type === 'corporation'" class="pull-left" style="width:33%;">
                <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>
            </div>
        </div>        
    </div>
    <div class="row">
        <h3>THREATS</h3>
        <div class="col-lg-12">
            <div ng-repeat="clock in vm.clocks" ng-if="clock.type !== 'mission' && clock.type !== 'corporation'" class="pull-left" style="width:33%;">
                <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>
            </div>
        </div>        
    </div>
    <!-- Corporations 
    <div class="corporation_section row">
        <!-- Corp Moves 
        <div class="col-md-4">
            <div class="btn btn-sm btn-info pull-left" ng-click="vm.showClockEdit = !vm.showClockEdit;" ng-if="vm.isMC">Create
                Corporation</div>
            <h4>CORPORATIONS</h4>
            <div>Corporations maximise profit and minimise expenses </div>
            <div>Corporations deny responsibility and suppress dissent </div>
            <div>Corporations exploit technology and humanity to the limits of both</div>

            <h5>CORPORATION MOVES</h5>
            » Send a subtle message<br />
            » Send a violent message<br />
            » Terminate a problem<br />
            » Throw money at a problem<br />
            » Hire disposable assets<br />
            » Deploy permanent assets<br />
            » Buy out smaller operators<br />
            » Make life difficult for someone<br />
            » Implant a cortex bomb<br />
            » Deploy technology (drones, tracers, uploaders)
        </div>
        <!-- Corp Clocks / Entities 
        <div class="col-md-8">
            <form novalidate class="simple-form" ng-show="vm.showClockEdit">
                <label>Name: <input type="text" ng-model="clock.name" /></label><br />
                <label>Type: <input type="text" ng-model="clock.type" /></label><br />
                <label>Description: <textarea type="text" ng-model="clock.description"></textarea></label><br />
                <label>Goal: <textarea type="text" ng-model="clock.goal"></textarea></label><br />
                <input type="submit" ng-click="vm.createClock(clock)" value="Save Corporation" />
            </form>
            <div ng-repeat="clock in vm.clocks" ng-if="clock.type === 'corporation'" style="width:50%;" class="pull-left">
                <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>
            </div>
        </div>
    </div>
    <!-- Threats 
    <div class="threats_section row">
        <!-- Threat Moves HTML only 
        <div class="col-md-4">
            <div class="row">
                <div class="btn btn-sm btn-info pull-left" ng-click="vm.showClockEdit = !vm.showClockEdit;" ng-if="vm.isMC">Create
                    Threat</div>
                <h4>THREATS</h4>
                <h5>GROUP MOVES:</h5>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    » Attack suddenly, directly, & hard<br />
                    » Buy out allies or assets<br />
                    » Seize someone or something<br />
                    » Claim territory by force or intrigue<br />
                    » Destroy someone or something
                </div>
                <div class="col-sm-6">
                    » Threaten to expose someone or something<br />
                    » Make demands<br />
                    » Bide their time and do legwork <br />
                    » Probe for weakness<br />
                    » Seek corporate patronage
                </div>
            </div>
            <div class="row">
                Group Goals: to possess, to overthrow, to terrorise, to destroy, to dominate.
            </div>
            <div class="row">
                <h5>LONER MOVES:</h5>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    » Reflect the decay of society and its structures<br />
                    » Display the conflict between humanity and technology, meat and chrome<br />
                    » Display the excess in The Sprawl<br />
                    » Make an offer with strings attached<br />
                    » Attack from an unexpected angle<br />
                    » Attack from the front
                </div>
                <div class="col-sm-6">
                    » Threaten someone or something with violence or exposure<br />
                    » Steal something or seize someone<br />
                    » Stage a loud diversion<br />
                    » Insult or offend a person or organization<br />
                    » Seek corporate patronage
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Loner Goals: to corrupt, to manipulate, to misdirect, to steal, to murder.

                </div>
            </div>
            <div class="row">
                <h5>PLACE MOVES:</h5>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    » Keep someone out, keep someone in<br />
                    » Demonstrate separation from the surrounding environment<br />
                    » Show internal cohesion<br />
                    » Show criminal activity in the background</div>
                <div class="col-sm-6">
                    » Entangle someone in intrigue, violence, or bureaucracy<br />
                    » Highlight desperation or kill someone’s dream<br />
                    » Reveal corporate callousness <br />
                    » Spotlight the fracture, breakdown or abscence of society<br />
                    » Surrender to corporate influence
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Place Goals: to trap, to breed, to frustrate, to consume, to isolate.
                </div>
            </div>
            <div class="row">
                <h5>HEADLINE MOVES:</h5>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    » Reveal a conflict in society<br />
                    » Reveal neglect in society<br />
                    » Reveal corporate callousness<br />
                    » Reveal excess in society<br />
                    » Force someone to seek help<br />
                    » Isolate someone or something
                </div>
                <div class="col-sm-6">
                    » Conceal the truth<br />
                    » Provoke accusations<br />
                    » Force destructive or futile action <br />
                    » Prevent action
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Headline Goals: to poison, to expose, to explode, to impoverish, to implicate
                </div>
            </div>
        </div>
        <!-- Threat clocks / Entities 
        <div class="col-md-8">
            <form novalidate class="simple-form" ng-show="vm.showClockEdit">
                <label>Name: <input type="text" ng-model="clock.name" /></label><br />
                <label>Type: <input type="text" ng-model="clock.type" /></label><br />
                <label>Description: <textarea type="text" ng-model="clock.description"></textarea></label><br />
                <label>Goal: <textarea type="text" ng-model="clock.goal"></textarea></label><br />
                <input type="submit" ng-click="vm.createClock(clock)" value="Save Threat" />
            </form>
            <div ng-repeat="clock in vm.clocks" ng-if="clock.type !== 'mission' && clock.type !== 'corporation'" style="width:50%;"
                class="pull-left">
                <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>
            </div>

        </div>
    </div>
-->
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').each(function () {
            $(this).popover({
                html: true,
                content: function () {
                    var id = $(this).attr('id')
                    return $('#popover-content-' + id).html();
                }
            });
        });
    });
</script>