<style>
    #charSheet input{color:#000;}
    #charSheet select{color:#000;}
    textarea{width:100%;height:275px;color:#000;}
    .orange{color:#d38336;}
</style>
<form id="charSheet" name="charSheet" class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            Dudes:
            <select ng-model="vm.dude" style="width:100%;height:27px;">
                <option ng-repeat="dude in vm.dudes" value="{{dude.id}}">{{dude.name}} - {{dude.class}}
                </option>
            </select>
            Name: <input ng-model="vm.cd.name" /><br />
            Player Name:<input ng-model="vm.cd.playername" /><br />
            <label>Class:</label><br />
                        <select ng-model="vm.cd.class" style="width:100%;height:27px;">
                            <option ng-repeat="class in vm.classes_list" value="{{class.key}}">{{class.value}}
                            </option>
                        </select>
            <br />
            Level: <input ng-model="vm.cd.level" /><br />
            XP: <input ng-model="vm.cd.xp" /><br />
            Look: <input ng-model="vm.cd.look" /><br />
            Grit: <input ng-model="vm.cd.stats.grit" /><br />
            Quick: <input ng-model="vm.cd.stats.quick" /><br />
            Charm: <input ng-model="vm.cd.stats.charm" /><br />
            Savvy: <input ng-model="vm.cd.stats.savvy" /><br />
            Strange: <input ng-model="vm.cd.stats.strange" /><br />
            Harm: <input ng-model="vm.cd.harm" /><br />
            Armor: <input ng-model="vm.cd.armor" /><br />
            History: <input ng-model="vm.cd.history" /><br />
            Moves: <input ng-model="vm.cd.moves" /><br />
            Custom: <input ng-model="vm.cd.custom" /><br />
            Horse: <input ng-model="vm.cd.horse" /><br />
            Gear: <input ng-model="vm.cd.gear" /><br />
            Notes: <input ng-model="vm.cd.notes" /><br />
            Advancement: <input ng-model="vm.cd.advancements" /><br />
            Created By: <input ng-model="vm.cd.createdby" /><br />
            <div class="btn btn-primary" ng-click="vm.updateCharacter()">Create/Update</div>
        </div>
        <div class="col-md-3">
            <div class="btn btn-danger" ng-click="vm.deleteCharacter(1);">Delete</div>
            <div class="btn btn-primary" ng-click="vm.loadCharacter(2);">Load</div>
            <div ng-repeat="move in vm.static[vm.cd.class].moves_list">
                <span ng-class="{'orange': vm.cd.moves.indexOf($index) > -1}">{{$index}}-{{move.name}}: <pre>{{move.description}}</pre></span>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <textarea ng-model="vm.cd.gear"></textarea>
            </div>
            <div>
                <textarea ng-model="vm.cd.notes"></textarea>
            </div>
        </div>
        <div class="col-md-3">
            <div>---Choose a stat block:</div>
            <div ng-repeat="stat in vm.static[vm.cd.class].stats">
                {{stat}}
            </div>
            <div>---Starting Gear:</div>
            {{vm.static[vm.cd.class].gear.what_you_get}}<br />
            <div ng-repeat="type in vm.static[vm.cd.class].gear.gear_lists">
                <div>{{ type.category }}</div>
                <div ng-if="type.description !== ''"></div>
                <div ng-repeat="item in type.list">
                    {{item}}
                </div>
            </div>

        </div>
    </div>
</form>


