<style>
    #charSheet input{color:#000;}
    #charSheet select{color:#000;width:150px;height:27px;}
    textarea{width:100%;height:275px;color:#000;}
    .stat input{border:1px solid #d38336;}
    .orange{color:#d38336;}
    .bg-orange{background-color:#d38336;}
    .pointer{cursor: pointer;}
    .d-flex{display:flex;}
    .harm-input{
        width:15px;
        height:15px;
        border:1px #cdcdcd solid;
        cursor: pointer;
    }
    .harm-label{
        margin-left:5px;
    }
</style>
<form id="charSheet" name="charSheet" class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            Dudes:
            <select ng-model="vm.dude">
                <option ng-repeat="dude in vm.dudes" ng-if="dude.createdby === vm.userId || vm.userId === 2" value="{{dude.id}}">{{dude.name}} - {{dude.class}}
                </option>
            </select>
            <div class="btn btn-primary" ng-click="vm.updateCharacter(true);">Create New</div>
            <div class="btn btn-primary" ng-click="vm.updateCharacter();">Save</div>
            <div class="btn btn-danger" ng-click="vm.deleteCharacter();" ng-disabled="true">Delete</div>
            <div class="btn btn-primary" ng-click="vm.loadCharacter(vm.dude);">Load</div>
        </div>
        <div class="col-md-2">
            <div class="pointer" ng-click="vm.cd.visibility.classinfo = !vm.cd.visibility.classinfo">{{vm.cd.visibility.classinfo ? 'Hide' : 'Show'}} Starting Info</div>
        </div>
    </div>
    <div class="row" ng-if="vm.cd.id > -1" style="margin:5px 0px;">
        
            Name: <input ng-model="vm.cd.name" />
            <label>Class:</label>
            <select ng-model="vm.cd.class" style="width:150px;height:27px;">
                <option ng-repeat="class in vm.classes_list" value="{{class.key}}">{{class.value}}
                </option>
            </select>
            Look: <input ng-model="vm.cd.look" />
        
    </div>
    <div class="row" ng-if="vm.cd.id > -1">
        <!-- Column 1 -->
        <div ng-class="vm.cd.visibility.classinfo ? 'col-md-3' : 'col-md-3'">
            <!-- Stats -->
            <div class="row stat">
                <h2>Stats:</h2>
                <div style="float:left;">
                    Quick:<br /><input type="number" ng-model="vm.cd.stats.quick" />
                </div>
                <div style="float:left;">
                    Grit:<br /><input type="number" ng-model="vm.cd.stats.grit" />
                </div>
                <div style="float:left;">
                    Charm:<br /><input type="number" ng-model="vm.cd.stats.charm" />
                </div>
                <div style="float:left;">
                    Savvy:<br /><input type="number" ng-model="vm.cd.stats.savvy" />
                </div>
                <div style="float:left;">
                    Strange:<br /><input type="number" ng-model="vm.cd.stats.strange" />
                </div>   
                <div style="float:right;">
                    Dinero:<br /><input type="number" ng-model="vm.cd.dinero" />
                </div>             
            </div>
            <!-- Harm / Armor / Dinero -->
            
            <div class="harm row">
                <h2>Harm:</h2>
                <div class="d-flex" style="justify-content:space-between;">
                    <div class="harm-label">Go ahead, make my day</div><div class="clear pointer" ng-click="vm.markHarm(0)">clear all</div>
                </div>
                <div class="d-flex" style="justify-content:space-between;">
                    <div>
                        <div class="stat">
                            Armor:<br /><input type="number" ng-model="vm.cd.armor" />
                        </div>
                    </div>
                    <div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.harm > 0 ? 'bg-orange' : ''" ng-click="vm.markHarm(1)"></div><div class="harm-label">I Ain't Yella (1)</div>
                        </div>                    
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.harm > 1 ? 'bg-orange' : ''" ng-click="vm.markHarm(2)"></div><div class="harm-label">Just a Scratch (2)</div>
                        </div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.harm > 2 ? 'bg-orange' : ''" ng-click="vm.markHarm(3)"></div><div class="harm-label">Sheeeeiiiiitt (3)</div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.harm > 3 ? 'bg-orange' : ''" ng-click="vm.markHarm(4)"></div><div class="harm-label">I just need a minute (4)</div>
                        </div>                    
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.harm > 4 ? 'bg-orange' : ''" ng-click="vm.markHarm(5)"></div><div class="harm-label">I'm Comin' Elizabeth (5)</div>
                        </div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.harm > 5 ? 'bg-orange' : ''" ng-click="vm.markHarm(6)"></div><div class="harm-label">High Noon (6)</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- History  -->
            <div class="row">
                History:<br />
                <textarea ng-model="vm.cd.history" style="height:80px;"></textarea>                
            </div>
            <!-- XP / LEVEL -->
            <div class="stat row">
                <div style="float:left;">
                    XP:<br /><input type="number" ng-model="vm.cd.xp" />
                </div>
                <div style="float:left;">
                    Level:<br /><input type="number" ng-model="vm.cd.level" />
                </div>
            </div>
            <!-- Advancement -->
            <div class="row">
                <h2>Advancements</h2>
                <div ng-repeat="adv in vm.static[vm.cd.class].advancement">
                    <input
                        id="adv_{{adv.id}}"                             
                        type="checkbox" 
                        value="{{adv.id}}" 
                        ng-checked="vm.cd.advancements.indexOf(adv.id) > -1"                            
                        ng-click="vm.updateAdvancements(adv.id)" />
                    <span ng-class="{'orange': vm.cd.advancements.indexOf(adv.id) > -1}">{{adv.description}}</span>
                </div>
            </div>
        </div>
        <!-- Column 2 -->
        <div ng-class="vm.cd.visibility.classinfo ? 'col-md-3' : 'col-md-4'">
            
            <h2>
                Moves: 
                <span class="pull-right pointer" style="font-size:smaller;" 
                    ng-click="vm.cd.visibility.moves = !vm.cd.visibility.moves">Show {{ vm.cd.visibility.moves ? 'Selected Only' : 'All'}}</span>
            </h2>
            <div ng-repeat="move in vm.classmoves.moves | filter: { class: vm.cd.class }" ng-show="vm.filterMoves(move.id);">
                <input
                            id="move_{{move.id}}"                             
                            type="checkbox" 
                            value="{{move.id}}" 
                            ng-checked="vm.cd.moves.indexOf(move.id) > -1"                            
                            ng-click="vm.updateMoves(move.id)" />
                <span ng-class="{'orange': vm.cd.moves.indexOf(move.id) > -1}">{{move.name}}: <pre>{{move.description}}</pre></span>
            </div>
        </div>
        <!-- Column 3 -->
        <div ng-class="vm.cd.visibility.classinfo ? 'col-md-3' : 'col-md-4'">
            <h2>{{vm.static[vm.cd.class].custom.name || 'Notes'}}
                <span style="font-size:smaller;" class="pointer pull-right" ng-if="vm.static[vm.cd.class].custom !== null" 
                    ng-click="vm.cd.visibility.custom = !vm.cd.visibility.custom">{{ vm.cd.visibility.custom ? 'Hide' : 'Show'}} Options</span>
            </h2>
            <div ng-if="vm.static[vm.cd.class].custom !== null && vm.cd.visibility.custom">
                <pre>{{vm.static[vm.cd.class].custom.description}}</pre>
                <div ng-repeat="list in vm.static[vm.cd.class].custom.lists">
                    <div ng-if="list.description !== ''">{{list.description}}</div>
                    <div>Choose {{list.choose}}:</div>
                    <pre>
                        <div ng-repeat="item in list.choices">•{{item}}</div>
                    </pre>
                </div>
            </div>
            <textarea ng-model="vm.cd.notes"></textarea>            
            <h2>Gear:</h2>
            <div>
                <textarea ng-model="vm.cd.gear"></textarea>
            </div>
            
        </div>
        <!-- Column 4 -->
        <div ng-class="vm.cd.visibility.classinfo ? 'col-md-3' : 'hidden'">
            <div class="pointer" ng-click="vm.cd.visibility.model = !vm.cd.visibility.model">{{vm.cd.visibility.model ? 'Hide' : 'Show'}} Model</div>

            <pre ng-if="vm.cd.visibility.model">{{vm.cd | json}}</pre>            
            <h2 class="orange"><strong>{{vm.static[vm.cd.class].name}}</strong></h2>
            <h2>Choose a stat block:</h2>
            <div ng-repeat="stat in vm.static[vm.cd.class].stats">
                {{stat}}
            </div>
            <h2>Moves</h2>
            {{ vm.static[vm.cd.class].num_starting_moves }}
            <h2>History (Hx):</h2>
            <div>Ask 1 question per player (exclusive)</div>
            <div ng-repeat="hist in vm.static[vm.cd.class].history">
                {{hist.question}} ({{hist.amount}})
            </div>
            <h2>Starting Gear:</h2>
            {{vm.static[vm.cd.class].gear.what_you_get}}<br />
            <div ng-repeat="type in vm.static[vm.cd.class].gear.gear_lists">
                <div><strong>{{ type.category }}</strong></div>
                <div ng-if="type.description !== ''"></div>
                <div ng-repeat="item in type.list">
                    <li>{{item}}</li>
                </div>
            </div>
            <div ng-if="vm.static[vm.cd.class].starting_horse">

            </div>

        </div>
    </div>
</form>


