<title>Weird West Reference Page</title>
<!-- Section Headers/Titles Row -->
<div class="d-flex mt-2">
    <div class="col-md-6">
        <h3>How The West Was Lost Reference</h3>
    </div>
    <div class="col-md-3">
        <h3>
            <a class="orange">Important Links</a>
        </h3>
    </div>
    <div class="col-md-3">
        <h3>Tags</h3>
    </div>
</div>
<!-- Content Columms  -->
<div class="d-flex">
    <div class="col-md-3">
        <h2 class="move-header orange">Basic Moves</h2>
        <div ng-repeat="(key, value) in vm.moves.Basic">
            <h2 ng-click="vm.visible.Basic[$index] = !vm.visible.Basic[$index]">{{key}}</h2>
            <pre ng-hide="!vm.visible.Basic[$index]">{{value}}</pre>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="move-header orange">Other Moves</h2>
        <div ng-repeat="(key, value) in vm.moves.Other">
            <h2 ng-click="vm.visible.Other[$index] = !vm.visible.Other[$index]">{{key}}</h2>
            <pre ng-hide="!vm.visible.Other[$index]">{{value}}</pre>
        </div>
        <h2 class="move-header orange">Dinero Moves</h2>
        <div ng-repeat="(key, value) in vm.moves.Dinero">
            <h2 ng-click="vm.visible.Dinero[$index] = !vm.visible.Dinero[$index]">{{key}}</h2>
            <pre ng-hide="!vm.visible.Dinero[$index]">{{value}}</pre>
        </div>
    </div>
    <div class="col-md-3">        
        <ul>
            <!-- Mx West -->
            <li class="d-none"><a class="orange" target="_blank" href="https://drive.google.com/open?id=1I2535GyBhpAo49ihUMD2M_aBVoVd0ZnC">Books and Resources (G-Folder)</a></li>
            <li class="d-none"><a class="orange" target="_blank" href="https://docs.google.com/document/d/17VjCxjULNnqJdzD-oR94BYQM7DK4TPIl3ipsxzUQtZA/edit">Ongoing Notes (G-Doc)</a></li>
            <li class="d-none"><a class="orange" target="_blank" href="https://jamboard.google.com/d/11uCuozm4t-p0kgMshAHAWGXwMWxjHMZ7UvIXC8ADKMQ/viewer">Cowboy Shit (G-Jamboard)</a></li>
            <!-- B&S West -->
            <li><a class="orange" target="_blank" href="https://drive.google.com/drive/u/1/folders/16qDyAahJqi28gHnRSgotMBu4bLXYy9Ru">Google Drive Folder</a></li>
            <li><a class="orange" target="_blank" href="https://jamboard.google.com/d/1zR3mod78eRuZiQDJuFxgz_MZvLHjNA16ahpf-kA580o/edit?usp=sharing">Weird West Map</a></li>
        </ul>
        <h3>Name Generator</h3>
        <div>            
            <div class="m-2">{{ vm.nameGenerated }}</div>
            <div class="d-flex">
                <div class="btn btn-secondary mx-1" ng-click="vm.getName('male')">Male</div>
                <div class="btn btn-secondary mx-1" ng-click="vm.getName('female')">Female</div>
                <div class="btn btn-secondary mx-1" ng-click="vm.getName('either')">Either</div>                
                <div class="btn btn-secondary mx-1" ng-click="vm.getName('horse')">Horse</div>                
                <div class="btn btn-secondary mx-1" ng-click="vm.getName('all')">All</div>
            </div>            
            <div class="d-flex flex-wrap">
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('cowboy')" ng-model="vm.nameOptions.cowboy" />Cowboy</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('simple')" ng-model="vm.nameOptions.simple" />Simple</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('fancy')" ng-model="vm.nameOptions.fancy" />Fancy</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('apache')" ng-model="vm.nameOptions.apache" />Apache</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('cherokee')" ng-model="vm.nameOptions.cherokee" />Cherokee</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('cheyenne')" ng-model="vm.nameOptions.cheyenne" />Cheyenne</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('lakota')" ng-model="vm.nameOptions.lakota" />Lakota</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('navajo')" ng-model="vm.nameOptions.navajo" />Navajo</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('spanish')" ng-model="vm.nameOptions.spanish" />Spanish</div>
                <div class="mx-1"><input type="checkbox" ng-click="vm.updateOptions('asian')" ng-model="vm.nameOptions.asian" />Asian</div>
            </div>
        </div>
        <h3 class="mt-2">Weapons / Gear</h3>
        <div ng-repeat="cat in vm.gear">
            <h2 class="orange">{{ cat.category }}</h2>
            <div class="strong">{{ cat.description }}</div>
            <div ng-repeat="item in cat.list">{{ item }}</div>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-between" ng-controller="ReferenceController">
        <div class="col-md-6">
            <h2 class="orange">Weapon Tags</h2>
            <div ng-repeat="tag in allTags" ng-if="tag.category === 'weapon'">
                <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                <div class="move-description" ng-hide="tag.hide">                        
                    <span>
                        {{tag.description}}
                    </span>							
                </div>
            </div>
            <h2 class="orange">Armor Tags</h2>
            <div ng-repeat="tag in allTags" ng-if="tag.category === 'armor'">
                <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                <div class="move-description" ng-hide="tag.hide">                        
                    <span>
                        {{tag.description}}
                    </span>							
                </div>
            </div>
            <h2 class="orange">Size Tags</h2>
            <div ng-repeat="tag in allTags" ng-if="tag.category === 'size'">
                <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                <div class="move-description" ng-hide="tag.hide">                        
                    <span>
                        {{tag.description}}
                    </span>							
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="orange">Equipment Tags</h2>
            <div ng-repeat="tag in allTags" ng-if="tag.category === 'equipment'">
                <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                <div class="move-description" ng-hide="tag.hide">                        
                    <span>
                        {{tag.description}}
                    </span>							
                </div>
            </div>
            <h2 class="orange">Monster Tags</h2>
            <div ng-repeat="tag in allTags" ng-if="tag.category === 'monster'">
                <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                <div class="move-description" ng-hide="tag.hide">                        
                    <span>
                        {{tag.description}}
                    </span>							
                </div>
            </div>
            <h2 class="orange">Organization Tags</h2>
            <div ng-repeat="tag in allTags" ng-if="tag.category === 'organization'">
                <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                <div class="move-description" ng-hide="tag.hide">                        
                    <span>
                        {{tag.description}}
                    </span>							
                </div>
            </div>
        </div>
    </div>
</div>

