<style>
/*
f87858
    f83800
    a81000
    a80020

    move background: #444d524a
*/
    strong{
        color:#03ddb9;
    }
    hr{
        background-color:#00c8a7;
    }
    .move-category{
        font-size:20px;
        color:#00c8a7;
        text-align:right;
        font-weight:bold;
        border-bottom:#00c8a7 2px solid;
    }
    .move-name{
        color:#03ddb9;
        font-weight:500;
        font-size:16px;
        cursor:pointer;
        text-transform: uppercase;
        border-bottom:#00c8a7 1px solid;
    }
    .move-description{
        padding:2px;
        background-color:#444d524a;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border:1px solid #00c8a7;
    }
    .mini-dude .stat{ margin:2px;}
    .mini-dude .stat-name{ font-size:18px;}
    .mini-dude .stat-value{ font-size:24px;}
</style>
<div class="advent-reference">
    <div class="moves-section d-flex">
        <div class="col-md-3 p-2">
            <div class="move-category">BASIC MOVES</div>
            <div class="move" ng-repeat="move in vm.static.basic_moves">
                <div class="move-name" ng-click="move.hide = !move.hide">{{move.name}}</div>
                <div class="move-description" markdown-it="move.description" ng-hide="!move.hide"></div>
            </div>
        </div>
        <div class="col-md-3 p-2">
            <div class="mini-dude" style="border:#00c8a7 1px solid;">
                <div class="d-flex justify-content-between">
                    <div class="stat">
                        <div class="stat-name">Poise: </div>
                        <div class="stat-value">{{vm.dudes[0].data.stats.poise}}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-name">Charm: </div>
                        <div class="stat-value">{{vm.dudes[0].data.stats.charm}}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-name">Vigor: </div>
                        <div class="stat-value">{{vm.dudes[0].data.stats.vigor}}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-name">Logic: </div>
                        <div class="stat-value">{{vm.dudes[0].data.stats.logic}}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-name">Dream: </div>
                        <div class="stat-value">{{vm.dudes[0].data.stats.dream}}</div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="stat">
                        <div class="stat-name">Moxie: </div>
                        <div class="stat-value">{{vm.dudes[0].data.moxie}}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-name">Influence: </div>
                        <div class="stat-value">{{vm.dudes[0].data.stats.influence}}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-name">Enlightenment: </div>
                        <div class="stat-value">{{vm.dudes[0].data.xp.enlightenment}} / 5</div>
                    </div>
                    <div class="stat">
                        <div class="stat-name">Resilience: </div>
                        <div class="stat-value">{{vm.dudes[0].data.xp.resilience}} / 3</div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="stat">
                        <div class="stat-name">Armor: </div>
                        <div class="stat-value">{{vm.dudes[0].data.armor}}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-name">Spirit (Harm): </div>
                        <div class="stat-value">{{vm.dudes[0].data.harm}} / 6</div>
                    </div>                    
                </div>
                <div>Moves</div>
                <div ng-repeat="move in vm.static.characters[vm.dudes[0].data.class].moves" ng-if="vm.dudes[0].data.moves.join().indexOf(move.key) > -1">
                    <div class="orange">{{move.name}}</div>
                    <div markdown-it="move.description"></div>
                </div>
                <div>Gear:</div>
                <pre>{{vm.dudes[0].data.gear}}</pre>
            </div>
        </div>
    </div>
</div>