<style>
    /* colors
    f87858
    f83800
    a81000
    a80020

    move background: #444d524a
    */
    .blood .stats{

    }
    .white{color:#ffffff !important;}    
    .gold{color:gold !important;}
    .silver{color:silver !important;}
    .blue{color:blue !important;}

    .blood .stats input{
        height:50px;
        width:50px;
        font-size:24px;
        border: 1px #00c8a7 solid;
    }
    .blood .move_header{
        font-weight:bold;
        color:#00c8a7;
        border-bottom: 1px #00c8a7 solid;
    }
    .blood .red{
        color:#00c8a7;
    }
    .blood .move{
        /* border-bottom:1px #c82000 solid; */
    }
    .blood .bg-red{
        background-color:#00c8a7;
    }

    .blood .harm-input{
        width:20px;
        height:20px;
        border:1px #cdcdcd solid;
        cursor: pointer;
    }

    .blood .harm-label{

    }

    .blood .stat-enclosure{
        border: 1px solid #00c8a7;
        border-radius: 4px;
    }

    .blood .character_move{
        border-bottom:1px solid #00c8a7;
    }

    .blood .explorer textarea{
        width: 99%;
        height:200px;
    }
</style>
<form id="charSheet" name="charSheet">
    <!-- CRUD -->
    <div class="d-flex justify-content-between blood">
        <div class="d-flex justify-content-start align-items-center">
            Dudes:
            <select ng-model="vm.dude" class="mx-1">
                <option ng-repeat="dude in vm.dudes" ng-if="dude.createdby === vm.userId || vm.userId === 2" value="{{dude.id}}">{{dude.data.name}} - {{dude.data.class}}
                </option>
            </select>
            <button class="btn btn-primary mx-1" ng-click="vm.updateCharacter(true);" ng-disabled="vm.userId !== 2">Create New</button>
            <div class="btn btn-primary mx-1" ng-click="vm.updateCharacter();">Save</div>
            <button class="btn btn-danger mx-1" ng-click="vm.deleteCharacter();" ng-disabled="true">Delete</button>
            <div class="btn btn-primary mx-1" ng-click="vm.loadCharacter(vm.dude);">Load</div>
        </div>
        <div>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#startingInfo" aria-expanded="false" aria-controls="startingInfo">
                Starting Info
            </button>  
        </div>
    </div>
    <!-- Starting Info -->
    <div class="collapse p-2" id="startingInfo" style="border:3px double #bbe1fa; border-radius: 5px;">
        <div class="d-flex">
            <div class="">
                Choose from the following for your <strong>{{vm.cd.bloodline}}</strong>
                <div class="">
                    <strong>Choose a stat block:</strong>
                    <div ng-if="!vm.static.characters[vm.cd.class].starting_stats_alt" ng-repeat="block in vm.static.characters[vm.cd.class].starting_stats">
                        POISE: {{ block.poise}}, CHARM: {{ block.charm}}, VIGOR: {{ block.vigor}}, LOGIC: {{ block.logic}}, DREAM: {{ block.dream }}
                    </div>
                    <div ng-if="vm.static.characters[vm.cd.class].starting_stats_alt">
                        <div markdown-it="vm.static.characters[vm.cd.class].starting_stats_alt"></div>
                    </div>
                </div>
                <div class="names">
                    <strong>Choose your starting gear:</strong> <div markdown-it="vm.static.characters[vm.cd.class].starting_gear"></div>
                </div>
                <div class="names">
                    <strong>Moves:</strong> <div markdown-it="vm.static.characters[vm.cd.class].starting_moves"></div>
                </div>
            </div>
        </div>        
    </div>
    <!-- Name / Classes -->
    <div class="d-flex my-2">
        <div>Name: <input ng-model="vm.cd.name" /></div>
        <div>Player Name: <input ng-model="vm.cd.playername" /></div>        
        <div>Class: 
            <select ng-model="vm.cd.class">
                <option ng-repeat="class in vm.static.classes" value="{{class.key}}" ng-selected="{{class.key == vm.cd.class}}">{{class.name}}</option>
            </select>
        </div>        
    </div>
    <div class="d-flex">        
        <!-- Character Stats / Gear / Notes -->
        <div class="explorer col-md-6">
            <div>
                <div class="stats my-2 d-flex">                
                    <div class="stat-enclosure mx-2 p-1">
                        <span>POISE:</span>
                        <input class="my-1" type="number" ng-model="vm.cd.stats.poise" ng-change="vm.updateCharacter(false);" />
                    </div>
                    <div class="stat-enclosure mx-2 p-1">
                        <span>CHARM:</span>
                        <input class="my-1" type="number" ng-model="vm.cd.stats.charm" ng-change="vm.updateCharacter(false);" />
                    </div>
                    <div class="stat-enclosure mx-2 p-1">
                        <span>VIGOR:</span>
                        <input class="my-1" type="number" ng-model="vm.cd.stats.vigor" ng-change="vm.updateCharacter(false);" />
                    </div>
                    <div class="stat-enclosure mx-2 p-1">
                        <span>LOGIC:</span>
                        <input class="my-1" type="number" ng-model="vm.cd.stats.logic" ng-change="vm.updateCharacter(false);" />
                    </div>
                    <div class="stat-enclosure mx-2 p-1">
                        <span>DREAM:</span>
                        <input class="my-1" type="number" ng-model="vm.cd.stats.dream" ng-change="vm.updateCharacter(false);" />
                    </div>
                </div>
                <div>                    
                    <div class="d-flex">
                        <div class="stats stat-enclosure mx-2 p-1">
                            <span>ARMOR:</span>
                            <input type="number" ng-model="vm.cd.armor" ng-change="vm.updateCharacter(false);" />
                        </div>
                        <div>
                            <div class="d-flex my-1 harm">
                                <div class="mx-2">SPIRIT: </div>
                                <div class="harm-input" ng-class="vm.cd.harm > 0 ? 'bg-red' : ''" ng-click="vm.markHarm(1)"></div>
                                <div class="harm-input" ng-class="vm.cd.harm > 1 ? 'bg-red' : ''" ng-click="vm.markHarm(2)"></div>
                                <div class="harm-input" ng-class="vm.cd.harm > 2 ? 'bg-red' : ''" ng-click="vm.markHarm(3)"></div>
                                <div class="harm-input" ng-class="vm.cd.harm > 3 ? 'bg-red' : ''" ng-click="vm.markHarm(4)"></div>
                                <div class="harm-input" ng-class="vm.cd.harm > 4 ? 'bg-red' : ''" ng-click="vm.markHarm(5)"></div>
                                <div class="clear pointer ml-2" ng-click="vm.markHarm(0)">clear all</div>
                            </div>
                        </div>
                    </div>                        
                </div>
                <div class="d-flex align-items-center">                    
                    <div class="mx-2 stat-enclosure p-1">
                        <div>Enlightenment:</div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.xp.enlightenment > 0 ? 'bg-red' : ''" ng-click="vm.markEnlightenment(1)"></div>
                            <div class="harm-input" ng-class="vm.cd.xp.enlightenment > 1 ? 'bg-red' : ''" ng-click="vm.markEnlightenment(2)"></div>
                            <div class="harm-input" ng-class="vm.cd.xp.enlightenment > 2 ? 'bg-red' : ''" ng-click="vm.markEnlightenment(3)"></div>
                            <div class="harm-input" ng-class="vm.cd.xp.enlightenment > 3 ? 'bg-red' : ''" ng-click="vm.markEnlightenment(4)"></div>
                            <div class="harm-input" ng-class="vm.cd.xp.enlightenment > 4 ? 'bg-red' : ''" ng-click="vm.markEnlightenment(5)"></div>
                            <div class="clear pointer ml-2" ng-click="vm.markEnlightenment(0)">clear</div>
                        </div>
                        <div>Resilience:</div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.xp.resilience > 0 ? 'bg-red' : ''" ng-click="vm.markResilience(1)"></div>
                            <div class="harm-input" ng-class="vm.cd.xp.resilience > 1 ? 'bg-red' : ''" ng-click="vm.markResilience(2)"></div>
                            <div class="harm-input" ng-class="vm.cd.xp.resilience > 2 ? 'bg-red' : ''" ng-click="vm.markResilience(3)"></div>
                            <div class="clear pointer ml-2" ng-click="vm.markResilience(0)">clear</div>
                        </div>
                    </div>
                    <div class="stats stat-enclosure m-2 p-1">
                        MOXIE: <input type="number" ng-model="vm.cd.moxie" ng-change="vm.updateCharacter(false);" />
                    </div>
                    <div class="stats stat-enclosure m-2 p-1">
                        INFLUENCE: <input type="number" ng-model="vm.cd.influence" ng-change="vm.updateCharacter(false);" />
                    </div>                    
                </div>
            </div>
            
            <!-- <div>
                <div>
                    <div class="move-category">Moves</div>
                    <span class="move-filter">Show 
                        <a href ng-click="vm.cd.explorers[0].visibility.all_moves = !vm.cd.explorers[0].visibility.all_moves">{{ vm.cd.explorers[0].visibility.all_moves ? ' only selected' : 'all' }}</a>                        
                    </span>
                </div>
                <div class="character_move" ng-repeat="move in vm.static.characters.explorers[vm.cd.explorers[0].class].moves " ng-show="vm.filterMoves(move.key, 'explorer');">
                    <input
                                id="move_{{move.key}}"                             
                                type="checkbox" 
                                value="{{move.key}}" 
                                ng-checked="vm.cd.explorers[0].moves.indexOf(move.key) > -1"                            
                                ng-click="vm.updateExplorerMoves(move.key)" />
                    <span ng-class="{'red': vm.cd.explorers[0].moves.indexOf(move.key) > -1}"><strong>{{move.name}}:</strong></span>
                        <span markdown-it="move.description"></span>
                    
                </div>             
            </div>
            
            <div>
                <div>
                    <div class="move-category">Blood Gifts</div>
                    <span class="move-filter">Show 
                        <a href ng-click="vm.cd.explorers[0].visibility.all_gifts = !vm.cd.explorers[0].visibility.all_gifts">{{ vm.cd.explorers[0].visibility.all_gifts ? ' only selected' : 'all' }}</a>
                    </span>                   
                </div>
                <div class="character_move" ng-repeat="blood in vm.static.characters.explorers[vm.cd.explorers[0].class].gifts" 
                    ng-show="vm.filterMoves(blood.key, 'blood')"> 
                    <input
                                id="blood_{{blood.key}}"                             
                                type="checkbox" 
                                value="{{blood.key}}" 
                                ng-checked="vm.cd.explorers[0].gifts.indexOf(blood.key) > -1"                            
                                ng-click="vm.updateBloodGifts(blood.key)" />
                    <span ng-class="{'red': vm.cd.explorers[0].gifts.indexOf(blood.key) > -1}"><strong>{{blood.name}}: </strong></span>
                        <span markdown-it="blood.description"></span>
                    
                </div>                
            </div>             -->
            
            <div class="move-category">
                Gear:
            </div>
            <textarea ng-model="vm.cd.gear" ng-blur="vm.onBlur(this);"></textarea>
            
            <div class="move-category">
                Notes:
            </div>
            <textarea ng-model="vm.cd.notes" ng-blur="vm.onBlur(this);"></textarea>
        </div>
        <!-- Moves -->
        <div ng-class="vm.cd.visibility.classinfo ? 'col-md-3' : 'col-md-4'">            
            <h2>
                Moves:
                <span class="pull-right move-filter" style="margin-left:90px;">Show 
                    <a href ng-click="vm.showMoves('mine');" ng-class="vm.cd.visibility.moves === 'mine' ? 'strong' : ''">selected</a> | 
                    <!-- <a href ng-click="vm.showMoves('class');" ng-class="vm.cd.visibility.moves === 'class' ? 'strong' : ''">{{vm.cd.class}}</a> |  -->
                    <a href ng-click="vm.showMoves('all');" ng-class="vm.cd.visibility.moves === 'all' ? 'strong' : ''">all {{vm.cd.class}}</a>
                </span>
                <!-- <span class="pull-right pointer" style="font-size:smaller;" 
                    ng-click="vm.cd.visibility.moves = !vm.cd.visibility.moves">Show {{ vm.cd.visibility.moves ? 'Selected Only' : 'All'}}</span> | 
                <span class="pull-right pointer" style="font-size:smaller;" 
                    ng-click="vm.cd.visibility.allmoves = !vm.cd.visibility.allmoves">Show {{ vm.cd.visibility.allmoves ? 'All' : 'Class'}} moves</span> -->
            </h2>
            <div ng-repeat="move in vm.static.characters[vm.cd.class].moves " ng-show="vm.filterMoves(move.key);"> <!-- | filter: ( vm.cd.visibility.allmoves || '') && { class: vm.cd.class } -->
                <input
                                id="move_{{move.key}}"                             
                                type="checkbox" 
                                value="{{move.key}}" 
                                ng-checked="vm.cd.moves.indexOf(move.key) > -1"                            
                                ng-click="vm.updateMoves(move.key)" />
                    <span ng-class="{'red': vm.cd.moves.indexOf(move.key) > -1}"><strong>{{move.name}}:</strong></span>
                        <span markdown-it="move.description"></span>
            </div>
        </div>
    </div>
</form>


