<link rel="stylesheet" type="text/css" href="/pbta/games/blood/blood.css" />
<div class="container-fluid blood">
    <uib-tabset active="active">
        <uib-tab index="vm.tabs.charactersheet.index" heading="{{::vm.tabs.charactersheet.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="charactersheet"></div>
        </uib-tab>
        <uib-tab index="vm.tabs.reference.index" heading="{{::vm.tabs.reference.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="reference"></div>
        </uib-tab>        
        <div class="d-flex" style="position:relative;top:9px;">
            <a style="color:#00c8a7;" class="px-2" href="https://docs.google.com/document/d/1SCnpbelT_i8oJFWT-YJRMYmI83JRnnrdmvAX01NbYW8/edit" target="_blank">Adventshire Rules</a>
            <a style="color:#00c8a7;" class="px-2" href="https://docs.google.com/document/d/1xRifpLb9O4Sw34OfzByy8zb-rK0JgJPlTycAulvUVsw/edit" target="_blank">Adventshire Characters</a>
            <a style="color:#00c8a7;" class="px-2" href="https://drive.google.com/drive/u/0/folders/1MnvwEb_8sIEr3wqZw-29PcYIvMG0fsge" target="_blank">Ongoing Notes</a>
        </div>
    </uib-tabset>
    
</div>

