<style>    
    
</style>
<div class="container-fluid">
    <!-- Reference -->
    <div class="reference_section row">
        <div class="col-md-4">
            <div class="moves_container row">
                <!-- <div class="col-md-12">
                    <h4>BASIC MOVES</h4>
                    <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'Basic'">
                        <div>
                            <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                            <div class="move-description" ng-hide="move.hide">                                    
                                <span class="move-trigger"><strong>{{move.trigger}}</strong><span ng-bind-html="move.description"></span></span>
                                
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <h4>BASIC MOVES</h4>
                    <div ng-repeat="move in vm.basicMoves">
                        <div>
                            <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                            <div class="move-description" ng-hide="!move.hide">                                    
                                <span class="move-trigger">                                    
                                    <pre>{{move.trigger}}{{move.description}}</pre>
                                    <strong style="cursor:pointer" ng-click="move.shownote = !move.shownote">Note</strong>
                                    <pre ng-hide="!move.shownote">{{move.note}}</pre>
                                </span>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moves_container row">
                <div class="col-md-12">
                    <h4>MATRIX MOVES</h4>
                    <div ng-repeat="move in vm.matrixMoves">
                        <div>
                            <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                            <div class="move-description" ng-hide="!move.hide">
                                <span class="move-trigger">
                                    <pre>{{move.trigger}}{{move.description}}</pre>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moves_container row" ng-show="vm.isMC">
                <div class="col-md-12">
                    <h4>GM MOVES</h4>
                    <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'GM'">
                        <div>
                            <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                            <div class="move-description" ng-hide="move.hide">                                    
                                <span class="move-trigger"><strong>{{move.trigger}}</strong></span>
                                <span ng-bind-html="move.description"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-between">
            <div class="mx-2">
                <h4>Cyberware Tags</h4>
                <div ng-repeat="tag in vm.allTags" ng-if="tag.category === 'cyberware'">
                    <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                    <div class="move-description" ng-hide="tag.hide">
                        <span>
                            [{{tag.category}}]
                        </span>
                        <span>
                            {{tag.description}}
                        </span>							
                    </div>
                </div>
            </div>
            <div class="mx-2">
                <h4>Range/Weapons Tags</h4>
                <div ng-repeat="tag in vm.allTags" ng-if="tag.category !== 'cyberware'">
                    <h2 class="move" ng-click="tag.hide = !tag.hide">{{tag.name}}</h2>
                    <div class="move-description" ng-hide="tag.hide">
                        <span>
                            [{{tag.category}}]
                        </span>
                        <span>
                            {{tag.description}}
                        </span>							
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h4>Links</h4>
            <ul>
                <li><a href="https://docs.google.com/document/d/1tZcCvu-RrzoYY6dfjd7z7rzZaTlsJOKMCe5YU_ZhvUI/edit#heading=h.ww52dd363bnl" target="_blank">Sprawl Notes</a></li>
                <li><a href="https://jamboard.google.com/d/1t7Nbx9MPnQWhymleQGFfYKPBgCg-Jx7VPPI2jIL83ic/viewer" target="_blank">Sprawl Jamboard</a></li>
                <li><a href="https://drive.google.com/drive/folders/1Lj-kiBw2LIXM0s-MKqOTsQlotYuk4-Ma" target="_blank">Gaming G-Folder (books)</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Stages</h4>
            <div>
                1. <strong>Get the Job (EDGE):</strong> When this is rolled, successfully or not, you have accepted the mission and mark experience.<br />
                1a. <strong>You stake CRED on your mission.</strong> 2 is normal, more than 2 advances a clock per person per point who uses it. You get as much cred back as you stake (more if you chose job pays well in getting paid.. or other MC circumstances). CRED you have staked can not be spent during the mission. (Have 5, stake 2, 3 is available.)<br />
                2. <strong>Legwork Phase:</strong> Hit the Street & Research for [INTEL] & [GEAR]<br />
                3. <strong>Action Phase</strong><br />
                4. <strong>Getting Paid (LEGWORK)</strong><br />
                5. <strong>Retaliation</strong><br />
                6. <strong>Lie low or fight back?</strong>
            </div>
            <div class="ref-clocks-section">
                <h4>Legwork Clock</h4>
                <ul>
                    <li>1200 Everything’s cool</li>
                    <li>1500 The team is making some noise, but nothing serious... yet</li>
                    <li>1800 The target hears vague rumours</li>
                    <li>2100 The target hears clear but unconfirmed rumours. <strong>Advance the Action Clock</strong></li>
                    <li>2200 The target has reliable information about the time of the mission. <strong>Advance the Action Clock</strong></li>
                    <li>2300 The target has reliable information about the team. <strong>Advance the Action Clock</strong></li>
                    <li>0000 The team is precisely identified. <strong>Advance a relevant Corporate or Threat Clock</strong></li>
                </ul>
                <h4>Action Clock</h4>
                <ul>
                    <li>1200 Everything’s cool</li>
                    <li>1500 The target is more alert than usual</li>
                    <li>1800 The target is on full alert</li>
                    <li>2100 The target fully deploys internal assets appropriate to the threat</li>
                    <li>2200 The target calls on external assets and locks down everything over which it still has control</li>
                    <li>2300 The target deploys external assets</li>
                    <li>0000 The target deploys overwhelming, excessive force – <strong>Advance the target’s Corporate Clock twice</strong></li>
                </ul>    
            </div>
        </div>
        <!-- <div class="col-md-4">                
            <div class="btn btn-sm btn-info pull-left" ng-click="vm.showClockEdit = !vm.showClockEdit;" ng-if="vm.isMC">Create Clock</div>
            <h4>CLOCKS</h4>                
            <form novalidate class="simple-form" ng-show="vm.showClockEdit">
                <label>Name: <input type="text" ng-model="clock.name" /></label><br />
                <label>Description: <input type="text" ng-model="clock.type" /></label><br />                                                
                <input type="submit" ng-click="vm.createClock(clock)" value="Save Clock" />
            </form>
            <div ng-repeat="clock in vm.clocks" ng-if="clock.type === 'mission'">
                <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>                                    
            </div>                
        </div> -->
    </div>        
</div>