<div class="container-fluid">
    <style>
        .col-custom-20{
            float:left;
            width:20%;
        }
        .d-flex{
            display:flex;
        }
        .stat-single{
            float:left;
            margin: 1px 5px;
        }
        .stat-label{
            font-size:14px;
        }
        .stat-value{
            font-size:24px;
        }
        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-break:normal;
        }
    </style>
    <!-- MC Sheet -->
    <!-- Character Row-->
    <div class="row">
        <div class="" style="display:flex;">             
            <!-- Characters columns (4) -->
            <div ng-repeat="position in [0,1,2,3]" style="width:20%;padding:0px 2px;border:1px #0472CE dotted;">
                <select ng-model="vm.mcDudes[position]" ng-change="vm.loadMCDude(position);">                        
                    <option ng-repeat="dude in vm.dudes" value="{{dude}}">{{dude.name}} -- {{dude.class}}</option>
                </select>
                <div>{{vm.mcDudes[position].name}} -- {{vm.mcDudes[position].class}}</div>
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="stat-label">MEAT:</div>
                        <div class="stat-value">{{vm.mcDudes[position].meat}}</div>
                    </div>
                    <div>
                        <div class="stat-label">EDGE:</div>
                        <div class="stat-value">{{vm.mcDudes[position].edge}}</div>
                    </div>
                    <div>
                        <div class="stat-label">COOL:</div>
                        <div class="stat-value">{{vm.mcDudes[position].cool}}</div>
                    </div>
                    <div>
                        <div class="stat-label">MIND:</div>
                        <div class="stat-value">{{vm.mcDudes[position].mind}}</div>
                    </div>
                    <div>
                        <div class="stat-label">STYLE:</div>
                        <div class="stat-value">{{vm.mcDudes[position].style}}</div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="stat-label">SYNTH:</div>
                        <div class="stat-value">{{vm.mcDudes[position].synth}}</div>
                    </div>
                    <div>
                        <div class="stat-label">HARM:</div>
                        <div class="stat-value">{{vm.mcDudes[position].harm}}</div>
                    </div>
                    <div>
                        <div class="stat-label">ARM:</div>
                        <div class="stat-value">{{vm.mcDudes[position].armor}}</div>
                    </div>
                    <div>
                        <div class="stat-label">CRED:</div>
                        <div class="stat-value">{{vm.mcDudes[position].cred}}</div>
                    </div>
                </div>

                <!-- <div class="pull-left mc-stat">
                    <strong>MEAT: </strong> {{vm.mcDudes[position].meat}} 
                </div>
                <div class="pull-left mc-stat">
                    <strong>EDGE: </strong> {{vm.mcDudes[position].edge}} 
                </div>
                <div class="pull-left mc-stat">
                    <strong>COOL: </strong> {{vm.mcDudes[position].cool}} 
                </div>
                <div class="pull-left mc-stat">
                    <strong>MIND: </strong> {{vm.mcDudes[position].mind}} 
                </div>
                <div class="pull-left mc-stat">
                    <strong>STYLE: </strong> {{vm.mcDudes[position].style}} 
                </div>
                <div class="pull-left mc-stat">
                    <strong>SYNTH: </strong> {{vm.mcDudes[position].synth}} 
                </div>
                <div class="pull-left mc-stat">
                    <strong>CRED: </strong> {{vm.mcDudes[position].cred}}
                </div> -->
                
                <div>
                    <h3>Moves</h3>
                    <div class="mc-moves">
                        <div ng-repeat="move in vm.sprawlMoves" ng-if="vm.mcDudes[position].moves.indexOf(move.id) > -1">
                            <strong>{{move.name}}</strong> - <span ng-bind-html="move.description"></span>
                        </div>
                    </div>
                    <h3>Cyberware</h3>
                    <div class="mc-cyberware">
                        <div ng-repeat="cyberware in vm.allCyberware" ng-if="vm.mcDudes[position].cyberware.indexOf(cyberware.id) > -1">
                            <strong>{{cyberware.name}}</strong> - <span ng-bind-html="cyberware.description"></span>
                        </div>
                    </div>
                    <h3>Gear</h3>
                    <div class="mc-gear">
                        <pre>{{vm.mcDudes[position].gear}}</pre>
                    </div>
                </div>
            </div>
            <!-- Moves/Corp/Threats Refrence -->
            <div class="moves_container" ng-show="vm.isMC" style="padding-left:2px;">
                <div class="btn btn-sprawl" ng-click="vm.refresh()">Refresh</div>
                <h4>GM MOVES</h4>
                <div ng-repeat="move in vm.sprawlMoves" ng-show="move.type === 'GM'">
                    <div>
                        <h2 class="move" ng-click="move.hide = !move.hide">{{move.name}}</h2>
                        <div class="move-description" ng-hide="move.hide">                                    
                            <span class="move-trigger"><strong>{{move.trigger}}</strong></span>
                            <span ng-bind-html="move.description"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4>CORPORATIONS</h4>
                    <div>Corporations maximise profit and minimise expenses </div>
                    <div>Corporations deny responsibility and suppress dissent </div>
                    <div>Corporations exploit technology and humanity to the limits of both</div>

                    <h5>CORPORATION MOVES</h5>
                    » Send a subtle message<br />
                    » Send a violent message<br />
                    » Terminate a problem<br />
                    » Throw money at a problem<br />
                    » Hire disposable assets<br />
                    » Deploy permanent assets<br />
                    » Buy out smaller operators<br />
                    » Make life difficult for someone<br />
                    » Implant a cortex bomb<br />
                    » Deploy technology (drones, tracers, uploaders)
                    <h4>THREATS</h4>
                    <h5>GROUP MOVES:</h5>
                        » Attack suddenly, directly, & hard<br />
                        » Buy out allies or assets<br />
                        » Seize someone or something<br />
                        » Claim territory by force or intrigue<br />
                        » Destroy someone or something   <br />             
                        » Threaten to expose someone or something<br />
                        » Make demands<br />
                        » Bide their time and do legwork <br />
                        » Probe for weakness<br />
                        » Seek corporate patronage
                <div>
                    Group Goals: to possess, to overthrow, to terrorise, to destroy, to dominate.
                </div>
                    <h5>LONER MOVES:</h5>
                        » Reflect the decay of society and its structures<br />
                        » Display the conflict between humanity and technology, meat and chrome<br />
                        » Display the excess in The Sprawl<br />
                        » Make an offer with strings attached<br />
                        » Attack from an unexpected angle<br />
                        » Attack from the front          <br />      
                        » Threaten someone or something with violence or exposure<br />
                        » Steal something or seize someone<br />
                        » Stage a loud diversion<br />
                        » Insult or offend a person or organization<br />
                        » Seek corporate patronage
                <div>
                        Loner Goals: to corrupt, to manipulate, to misdirect, to steal, to murder.
                </div>
                    <h5>PLACE MOVES:</h5>
                        » Keep someone out, keep someone in<br />
                        » Demonstrate separation from the surrounding environment<br />
                        » Show internal cohesion<br />
                        » Show criminal activity in the background<br />
                        » Entangle someone in intrigue, violence, or bureaucracy<br />
                        » Highlight desperation or kill someone’s dream<br />
                        » Reveal corporate callousness <br />
                        » Spotlight the fracture, breakdown or abscence of society<br />
                        » Surrender to corporate influence
                    <div>
                        Place Goals: to trap, to breed, to frustrate, to consume, to isolate.
                    </div>
                    <h5>HEADLINE MOVES:</h5>
                        » Reveal a conflict in society<br />
                        » Reveal neglect in society<br />
                        » Reveal corporate callousness<br />
                        » Reveal excess in society<br />
                        » Force someone to seek help<br />
                        » Isolate someone or something<br />
                        » Conceal the truth<br />
                        » Provoke accusations<br />
                        » Force destructive or futile action <br />
                        » Prevent action
                    <div>
                        Headline Goals: to poison, to expose, to explode, to impoverish, to implicate
                    </div>
            </div>   
        </div>
    </div>    
</div>