<div class="container-fluid">
    <style>
        .d-flex{
            display:flex;
        }
        .justify-content-space-between{
            justify-content: space-between;
        }
        .justify-content-start{
            justify-content: flex-start;
        }
        .gear-section{
            width:25%;
            padding:0 4px;
        }
        .gear-section ul{
            padding-inline-start: 20px; /* Override */
        }
    </style>
    <div class="d-flex justify-content-start">
        <div class="gear-section">            
            <h4>Firearms</h4>
            <div>{{vm.staticGear.weapons.firearms.description}}</div>
            <ul>
            <div ng-repeat="item in vm.staticGear.weapons.firearms.items">
                <li><strong>{{item.name}}</strong> ({{item.tags}})</li>
            </div>
            </ul>
        </div>
        <div class="gear-section">            
            <h4>Ammunition</h4>
            <div>{{vm.staticGear.weapons.ammunition.description}}</div>
            <ul>
            <div ng-repeat="item in vm.staticGear.weapons.ammunition.items">
                <li><strong>{{item.name}}</strong> - {{item.tags}}</li>
            </div>
            </ul>
        </div>
        <div class="gear-section">            
            <h4>Amrour</h4>
            <div>{{vm.staticGear.weapons.armour.description}}</div>
            <ul>
            <div ng-repeat="item in vm.staticGear.weapons.armour.items">
                <li><strong>{{item.name}}</strong> ({{item.tags}})</li>
            </div>
            </ul>            
            <h4>Hand Weapons</h4>
            <div>{{vm.staticGear.weapons.melee.description}}</div>
            <ul>
            <div ng-repeat="item in vm.staticGear.weapons.melee.items">
                <li><strong>{{item.name}}</strong> ({{item.tags}})</li>
            </div>
            </ul>            
            <h4>Grenades</h4>
            <div>{{vm.staticGear.weapons.grenades.description}}</div>
            <ul>
            <div ng-repeat="item in vm.staticGear.weapons.grenades.items">
                <li><strong>{{item.name}}</strong> ({{item.tags}})</li>
            </div>
            </ul>
        </div>
        <div class="gear-section">
            <h4>Fair Prices (p128)</h4>            
            <p>In most cases, characters will need to hit the street to find the gear they want. If
            the price is fair, use the prices below. If they choose your request is going to cost you
            extra, double the cost or add a condition (“Sure Loulou, I’ll give you a good price on
            the TWC-9... if you lean on Max and bring back the money he owes me.”)</p>
            <h5>Spending 1 Cred will get you:</h5>
            <ul>
                <li>useful information from a contact</li>
                <li>basic restricted gear from a fixer (sidearms, hunting weapons, ammo)</li>
                <li>replacement parts for a cyberdeck</li>
                <li>unreliable gang members for muscle</li>
                <li>a chauffeur</li>
            </ul>
            <h5>Spending 2 Cred will get you:</h5>
            <ul>
                <li>a getaway driver for a mission</li>
                <li>a hacker for a matrix run (but at this price he’ll be poking around for pay-data on the side)</li>
                <li>professional muscle (a dangerous individual or a competent gang)</li>
                <li>a street doctor for gunshot wounds</li>
                <li>more complex, restricted gear from a fixer (grenades, assault weapons, legal drones, basic hacking programs)</li>
            </ul>            
            <h5>Spending 4 Cred will get you:</h5>
            <ul>
                <li>a hacker with a sense of professional integrity</li>
                <li>discreet medical services for life-threatening wounds</li>
                <li>expensive or illegal gear from a fixer (vehicles, security drones, heavy weapons, cutting edge Russian attack software, basic cheap cyberware)</li>
            </ul>
            <h5>Spending 8 cred will get you:</h5>
            <ul>
                <li>cutting-edge, military or extortionately expensive gear from a fixer (cyberdecks, military vehicles, most cyberware)</li>
            </ul>

                
        </div>
    </div>         
</div>