<div class="">
    <div class="d-flex">
        <div class="d-flex">
            <div class="btn btn-sm btn-info" ng-click="vm.showClockEdit = !vm.showClockEdit;" ng-if="vm.isMC">Create</div>
            <div class="btn btn-sm btn-info ml-2" ng-click="vm.refreshThreats()">Refresh</div>
        </div>
        <div class="">
            <form novalidate class="row simple-form" ng-show="vm.showClockEdit">                
                <label>Name: <input type="text" ng-model="clock.name" /></label><br />
                <label>Type: <input type="text" ng-model="clock.type" /></label><br />
                <label>Description: <textarea type="text" ng-model="clock.description"></textarea></label><br />
                <label>Goal: <textarea type="text" ng-model="clock.goal"></textarea></label><br />
                <input type="submit" ng-click="vm.createClock(clock)" value="Save Threat" />
            </form>
        </div>        
    </div>
    <h3>MISSION</h3>
    <div class="d-flex">
        <div class="col-lg-8">
            <div class="d-flex mx-auto">
                <div ng-repeat="clock in vm.clocks" ng-if="clock.type === 'mission'" style="width:50%;">
                    <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <a href class="pull-left menu-toggle" ng-click="vm.addHold();">+</a>
            <h4>Hold</h4>
            <div class="d-flex flex-wrap">
                <div ng-repeat="hold in vm.holds">
                    <hold hold-obj="hold" on-delete="vm.getHolds();" mc="vm.isMC"></hold>
                </div>
            </div>
        </div>        
    </div>
    <h3>CORPORATIONS</h4>        
    <div class="d-flex flex-wrap">
        <div ng-repeat="clock in vm.clocks" ng-if="clock.type === 'corporation'"  style="width:33%;">
            <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>
        </div>                
    </div>
    <h3>THREATS</h3>
    <div class="d-flex flex-wrap">
        <div ng-repeat="clock in vm.clocks" ng-if="clock.type !== 'mission' && clock.type !== 'corporation'"  style="width:33%;">
            <clock clock-obj="clock" on-delete="vm.getClocksByUserId(2)" mc="vm.isMC"></clock>
        </div>
    </div>
</div>