<div class="harm_container row" style="width:99%;">
    <div class="col-sm-12">
        <a href ng-click="toggleEdit()" style="position:relative;top:32px;" ng-if="mc">edit</a>
        <a href ng-click="deleteClock(clockObj.id)" style="position:relative;top:32px;" ng-if="mc">delete</a>
        <h4 ng-show="!edit">{{clockObj.name}}</h4>
        <h4 ng-show="edit"><input type="text" ng-model="clockObj.name" value="{{clockObj.name}}" /></h4>
        <p ng-show="!edit" ng-if="mc">{{clockObj.type}}</p>
        <p ng-show="edit"><input type="text" ng-model="clockObj.type" value="{{clockObj.type}}" /></p>
        <div class="harm_marker lrg" ng-class="clock[0]" ng-click="mc ? markClock(0) : ''">1500</div>
        <div class="harm_marker lrg" ng-class="clock[1]" ng-click="mc ? markClock(1) : ''">1800</div>
        <div class="harm_marker lrg" ng-class="clock[2]" ng-click="mc ? markClock(2) : ''">2100</div>
        <div class="harm_marker sm" ng-class="clock[3]" ng-click="mc ? markClock(3) : ''">2200</div>
        <div class="harm_marker sm" ng-class="clock[4]" ng-click="mc ? markClock(4) : ''">2300</div>
        <div class="harm_marker sm" ng-class="clock[5]" ng-click="mc ? markClock(5) : ''">0000</div>
        <a href ng-click="clearClock()" style="margin-left:3px;" ng-if="mc">Clear</a>
        <a href ng-click="saveClock()" style="margin-left:3px;" ng-if="mc">Save</a>
        <div class="row" ng-if="type !== 'mission'">
            <div class="col-sm-12">
                <strong>Description:</strong><br />
                <p ng-show="!edit">{{clockObj.description}}</p>
                <p ng-show="edit"><textarea type="text" ng-model="clockObj.description" value="{{clockObj.description}}" style="width:95%;"></textarea></p>
                <strong>Goal:</strong><br />
                <p ng-show="!edit">{{clockObj.goal}}</p>
                <p ng-show="edit"><textarea type="text" ng-model="clockObj.goal" value="{{clockObj.goal}}" style="width:95%;"></textarea></p>
            </div>
        </div>
    </div>
</div>