<div class="harm_container row">
    <div class="col-sm-12">
        <h4>{{nomnbre}}</h4>
        <div class="harm_marker lrg" ng-class="clock[0]" ng-click="markClock(0)">1500</div>
        <div class="harm_marker lrg" ng-class="clock[1]" ng-click="markClock(1)">1800</div>
        <div class="harm_marker lrg" ng-class="clock[2]" ng-click="markClock(2)">2100</div>
        <div class="harm_marker sm" ng-class="clock[3]" ng-click="markClock(3)">2200</div>
        <div class="harm_marker sm" ng-class="clock[4]" ng-click="markClock(4)">2300</div>
        <div class="harm_marker sm" ng-class="clock[5]" ng-click="markClock(5)">0000</div>
        <a href ng-click="clearClock()" style="margin-left:3px;">Clear</a>
    </div>
</div>