<div class="character-directive">
    <style>
        .character-directive pre{
            padding:5px;
        }
        .character-directive{
            padding:2px;
            border:1px dashed #d38336;
        }        
        .stat-label{
            font-size:14px;
        }
        .stat-value{
            font-size:24px;
        }
    </style>
    <div class="row">
        <div class="col-md-12">    
            <select ng-model="selectedDude" style="width:100%;height:27px;color:black;" ng-change="getDude(selectedDude)">
                <option ng-repeat="dude in dudes" value="{{dude.id}}">{{dude.name}} - {{dude.class}}
                </option>
            </select>
            <h3>{{ dude.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="stat-single">
                <div class="stat-label">QUK:</div>
                <div class="stat-value">{{dude.stats.quick}}</div>
            </div>
            <div class="stat-single">
                <div class="stat-label">GRT:</div>
                <div class="stat-value">{{dude.stats.grit}}</div>
            </div>
            <div class="stat-single">
                <div class="stat-label">CHA:</div>
                <div class="stat-value">{{dude.stats.charm}}</div>
            </div>            
        </div>
    </div>   
    <div class="pointer" style="font-size:small;" ng-click="vm.hideModel = !vm.hideModel">{{ vm.hideModel ? 'Hide' : 'Show'}} Model</div>
    <pre ng-if="vm.hideModel">{{dude | json}}</pre>
</div>