<style>
    .blood .stats input{
        height:50px;
        width:50px;
        border: 1px #c82000 solid;
    }
    .blood .move_header{
        font-weight:bold;
        color:#c82000;
        border-bottom: 1px #c82000 solid;
    }
    .blood .red{
        color:#c82000;
    }
    .blood .move{
        border-bottom:1px #c82000 solid;
    }
    .blood .bg-red{
        background-color:#c82000;
    }

    .blood .harm-input{
        width:15px;
        height:15px;
        border:1px #cdcdcd solid;
        cursor: pointer;
    }
</style>
<form id="charSheet" name="charSheet">
    <div class="d-flex justify-content-between blood">
        <div class="d-flex justify-content-start align-items-center">
            Dudes:
            <select ng-model="vm.dude" class="mx-1">
                <option ng-repeat="dude in vm.dudes" ng-if="dude.createdby === vm.userId || vm.userId === 2" value="{{dude.id}}">{{dude.data.traditions.name}} - {{dude.data.bloodline}}
                </option>
            </select>
            <div class="btn btn-primary mx-1" ng-click="vm.updateCharacter(true);">Create New</div>
            <div class="btn btn-primary mx-1" ng-click="vm.updateCharacter();">Save</div>
            <div class="btn btn-danger mx-1" ng-click="vm.deleteCharacter();" ng-disabled="true">Delete</div>
            <div class="btn btn-primary mx-1" ng-click="vm.loadCharacter(vm.dude);">Load</div>
        </div>
        <div>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#startingInfo" aria-expanded="false" aria-controls="startingInfo">
                Starting Info
            </button>  
            <div class="pointer" ng-click="vm.cd.visibility.classinfo = !vm.cd.visibility.classinfo">{{vm.cd.visibility.classinfo ? 'Hide' : 'Show'}} Starting Info</div>
        </div>
    </div>
    <!-- Starting Info -->
    <div class="collapse p-2" id="startingInfo" style="border:3px double #bbe1fa; border-radius: 5px;">
        Choose from the following for your <strong>{{vm.class}}</strong>
        <div class="d-flex">
            <div class="">
                <div class="names">
                    Choose a name: <span ng-repeat="name in vm.static.classes[vm.class].starters.names">{{ name }}, </span>
                </div>
                <div class="look">
                    Choose a look: <span ng-repeat="look in vm.static.classes[vm.class].starters.look">{{ look }}, </span>
                </div>
                <div class="personality">
                    Choose a personality: <span ng-repeat="personality in vm.static.classes[vm.class].starters.personality">{{ personality }}, </span>
                </div>
            </div>
            <div class="">

            </div>
        </div>        
    </div>
    <div class="d-flex my-2">
        <div>Name: <input ng-model="vm.cd.name" /></div>
        <div>Player Name: <input ng-model="vm.cd.playername" /></div>
        <div>Bloodline: 
            <select ng-model="vm.cd.bloodline">
                <option ng-repeat="bloodline in vm.bloodlines" value="{{bloodline.key}}" ng-selected="{{bloodline.key == vm.bloodline}}">{{bloodline.value}}</option>
            </select>
        </div>  
        <div>Explorer: 
            <select ng-model="vm.cd.explorers[0].class">
                <option ng-repeat="explorer in vm.explorers" value="{{explorer.key}}" ng-selected="{{explorer.key == vm.explorer}}">{{explorer.value}}</option>
            </select>
        </div>        
    </div>
    <div class="d-flex">
        <!-- Bloodline -->
        <div class="bloodline col-md-6">
            <div class="stats d-flex">
                <input class="my-1" type="number" ng-model="vm.cd.stat.chalices" />CHALICES
                <input class="my-1" type="number" ng-model="vm.cd.stat.swords" />SWORDS
                <input class="my-1" type="number" ng-model="vm.cd.stat.wands" />WANDS
                <input class="my-1" type="number" ng-model="vm.cd.stat.coins" />COINS
                <input class="my-1" type="number" ng-model="vm.cd.stat.relics" />RELICS
            </div>
            <div>
                <h2>
                    Moves:
                    <span class="move-filter">Show 
                        <a href ng-click="vm.showMoves('mine');" ng-class="vm.cd.visibility.moves === 'mine' ? 'strong' : ''">mine</a> | 
                        <a href ng-click="vm.showMoves('all');" ng-class="vm.cd.visibility.moves === 'all' ? 'strong' : ''">all</a>
                    </span>
                </h2>
                <div class="move" ng-repeat="move in vm.static.characters.bloodlines[vm.cd.bloodline].moves " ng-show="vm.filterMoves(move.key);"> 
                    <input
                                id="move_{{move.key}}"                             
                                type="checkbox" 
                                value="{{move.key}}" 
                                ng-checked="vm.cd.moves.indexOf(move.key) > -1"                            
                                ng-click="vm.updateMoves(move.key)" />
                    <span ng-class="{'red': vm.cd.moves.indexOf(move.key) > -1}"><strong>{{move.name}}:</strong> </span>
                        <span markdown-it="move.description"></span>
                    
                </div>
            </div>
            <div>
                <div>
                    <div class="move_header">Shelter Move</div>
                    <div markdown-it="vm.static.characters.bloodlines[vm.bloodline].shelter_move"></div>
                </div>
            </div>
            <div>
                <div class="move_header">Pact: {{vm.static.bloodlines[vm.cd.bloodline].pact.name}}</div>
                <div markdown-it="vm.static.characters.bloodlines[vm.bloodline].pact.description"></div>
            </div>
            <div>
                <div class="move_header">
                    Traditions:
                </div>
                Style:
                <textarea ng-model="vm.cd.traditions.style"></textarea>
                Lore:
                <textarea ng-model="vm.cd.traditions.lore"></textarea>
                Pacts:
                <textarea ng-model="vm.cd.pacts"></textarea>
            </div>
        </div>
        <!-- Explorer -->
        <div class="explorer col-md-6">
            <div class="d-flex">
                <div class="stats">                
                    <input class="my-1" type="number" ng-model="vm.cd.explorers[0].stats.iron" />IRON<br />
                    <input class="my-1" type="number" ng-model="vm.cd.explorers[0].stats.glass" />GLASS<br />
                </div>
                <div class="stats">
                    <input class="my-1" type="number" ng-model="vm.cd.explorers[0].stats.sulphur" />SULPHUR<br />
                    <input class="my-1" type="number" ng-model="vm.cd.explorers[0].stats.mercury" />MERCURY<br />
                </div>
                <div>
                    <div class="d-flex my-1">
                        <div>Harm: </div>
                        <div class="harm-input" ng-class="vm.cd.explorers[0].health.harm > 0 ? 'bg-red' : ''" ng-click="vm.markHarm(1)"></div>
                        <div class="harm-input" ng-class="vm.cd.explorers[0].health.harm > 1 ? 'bg-red' : ''" ng-click="vm.markHarm(2)"></div>
                        <div class="harm-input" ng-class="vm.cd.explorers[0].health.harm > 2 ? 'bg-red' : ''" ng-click="vm.markHarm(3)"></div>
                        <div class="harm-input" ng-class="vm.cd.explorers[0].health.harm > 3 ? 'bg-red' : ''" ng-click="vm.markHarm(4)"></div>
                        <div class="harm-input" ng-class="vm.cd.explorers[0].health.harm > 4 ? 'bg-red' : ''" ng-click="vm.markHarm(5)"></div>
                        <div class="clear pointer" ng-click="vm.markHarm(0)">clear all</div>
                    </div>
                    <div class="d-flex">
                        <div class="stat">
                            Armor:<br /><input type="number" ng-model="vm.cd.armor" />
                        </div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.explorers[0].health.wounds.minor ? 'bg-red' : ''" ng-click="vm.markHarm('minor')"></div><div class="harm-label">Minor</div>
                        </div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.explorers[0].health.wounds.major ? 'bg-red' : ''" ng-click="vm.markHarm('major')"></div><div class="harm-label">Major</div>
                        </div>
                        <div class="d-flex">
                            <div class="harm-input" ng-class="vm.cd.explorers[0].health.wounds.mortal ? 'bg-red' : ''" ng-click="vm.markHarm('mortal')"></div><div class="harm-label">Oh FUCK!</div>
                        </div>
                    </div>                        
                </div>
            </div>
            <div>
                <h2>
                    Moves:
                    <span class="move-filter">Show 
                        <a href ng-click="vm.showMoves('mine');" ng-class="vm.cd.visibility.moves === 'mine' ? 'strong' : ''">mine</a> | 
                        <a href ng-click="vm.showMoves('all');" ng-class="vm.cd.visibility.moves === 'all' ? 'strong' : ''">all</a>
                    </span>
                </h2>
                <div class="move" ng-repeat="move in vm.static.characters.explorers[vm.cd.explorers[0].class].moves "> <!-- ng-show="vm.filterMoves(move.key);"> -->
                    <input
                                id="move_{{move.key}}"                             
                                type="checkbox" 
                                value="{{move.key}}" 
                                ng-checked="vm.cd.explorers[0].moves.indexOf(move.key) > -1"                            
                                ng-click="vm.updateExplorerMoves(move.key)" />
                    <span ng-class="{'red': vm.cd.explorers[0].moves.indexOf(move.key) > -1}">{{move.name}}: </span>
                        <span markdown-it="move.description"></span>
                    
                </div>             
            </div>
            <div class="d-flex">
                <div class="stats mx-2">
                    BLOOD: <input type="number" ng-model="vm.cd.explorers[0].blood" />
                </div>
                <div class="mx-2">
                    <input type="checkbox" ng-model="vm.cd.explorers[0].blood_advancements.stat1" /><span>Get +1 Stat</span><br />
                    <input type="checkbox" ng-model="vm.cd.explorers[0].blood_advancements.stat2" /><span>Get +1 Stat</span>
                </div>
                <div class="mx-2">
                    <input type="checkbox" ng-model="vm.cd.explorers[0].blood_advancements.gift1" /><span>Get a gift</span><br />
                    <input type="checkbox" ng-model="vm.cd.explorers[0].blood_advancements.gift2" /><span>Get a gift</span>
                </div>
                <div>
                    <input type="checkbox" ng-model="vm.cd.explorers[0].blood_advancements.retire" /><span>Retire</span>
                </div>
            </div>
            <div>
                <h2>
                    Blood Gifts:
                    <span class="move-filter">Show 
                        <a href ng-click="vm.showMoves('mine');" ng-class="vm.cd.visibility.moves === 'mine' ? 'strong' : ''">mine</a> | 
                        <a href ng-click="vm.showMoves('all');" ng-class="vm.cd.visibility.moves === 'all' ? 'strong' : ''">all</a>
                    </span>
                    <!-- <span class="pull-right pointer" style="font-size:smaller;" 
                        ng-click="vm.cd.visibility.moves = !vm.cd.visibility.moves">Show {{ vm.cd.visibility.moves ? 'Selected Only' : 'All'}}</span> | 
                    <span class="pull-right pointer" style="font-size:smaller;" 
                        ng-click="vm.cd.visibility.allmoves = !vm.cd.visibility.allmoves">Show {{ vm.cd.visibility.allmoves ? 'All' : 'Class'}} moves</span> -->
                </h2>
                <div class="move" ng-repeat="blood in vm.static.characters.explorers[vm.cd.explorers[0].class].gifts "> 
                    <input
                                id="blood_{{blood.key}}"                             
                                type="checkbox" 
                                value="{{blood.key}}" 
                                ng-checked="vm.cd.explorers[0].gifts.indexOf(blood.key) > -1"                            
                                ng-click="vm.updateBloodGifts(blood.key)" />
                    <span ng-class="{'red': vm.cd.explorers[0].gifts.indexOf(blood.key) > -1}"><strong>{{blood.name}}: </strong></span>
                        <span markdown-it="blood.description"></span>
                    
                </div>
                
                
                <div>
                    <div class="move_header">Death Move</div>
                    <div markdown-it="vm.static.characters.explorers[vm.explorer].death_move"></div>
                </div>
                <div>
                    Covenants:
                    <textarea ng-model="vm.cd.explorers[0].covenants"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>


