<link rel="stylesheet" type="text/css" href="/pbta/games/blood/blood.css" />
<div class="container-fluid blood">
    <uib-tabset active="active">
        <uib-tab index="vm.tabs.charactersheet.index" heading="{{::vm.tabs.charactersheet.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="charactersheet"></div>
        </uib-tab>
        <uib-tab index="vm.tabs.reference.index" heading="{{::vm.tabs.reference.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="reference"></div>
        </uib-tab>        
        <!-- <uib-tab index="vm.tabs.mc.index" heading="{{::vm.tabs.mc.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="mc"></div>
        </uib-tab> -->
        <a style="position:relative;top:9px;left:15px;" href="https://drive.google.com/drive/u/0/folders/1MnvwEb_8sIEr3wqZw-29PcYIvMG0fsge" target="_blank">Google Folder</a>
    </uib-tabset>
    
</div>

