
<div class="container-fluid">          
    <uib-tabset active="active">
        <uib-tab index="vm.tabs.charactersheet.index" heading="{{::vm.tabs.charactersheet.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="charactersheet"></div>
        </uib-tab>
        <uib-tab index="vm.tabs.reference.index" heading="{{::vm.tabs.reference.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="reference"></div>
        </uib-tab>
        <uib-tab index="vm.tabs.threats.index" heading="{{::vm.tabs.threats.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="threats"></div>
        </uib-tab>
        <uib-tab index="vm.tabs.matrix.index" heading="{{::vm.tabs.matrix.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="matrix"></div>
        </uib-tab>
        <uib-tab index="vm.tabs.gear.index" heading="{{::vm.tabs.gear.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="gear"></div>
        </uib-tab>
        <uib-tab index="vm.tabs.mc.index" heading="{{::vm.tabs.mc.heading}}" ng-click="vm.onTabChange()">
            <div ui-view="mc"></div>
        </uib-tab>
    </uib-tabset>
</div>

